{% load static %}
{% load other %}
{% load dungeons %}

<div class='card-custom bordered standard'
    {% if not raid %}
        onClick="moveTo('{% url 'dungeon_by_stage' name=dungeon.d_id|get_dungeon_name|dungeon_to_div_id stage=dungeon.stage %}')" 
    {% else %}
        onClick="moveTo('{% url 'dungeon_by_stage' name=dungeon.d_url stage=dungeon.stage %}')" 
    {% endif %}
    
    style='cursor: pointer;'>
    <div class='card-custom-header'>
        {% if not raid %}
            {{ dungeon.d_id|get_dungeon_name }}
        {% else %}
            {{ dungeon.d_name }}
        {% endif %}
         B{{ dungeon.stage }}
    </div>
    <div class='card-custom-body standard'>
        <span class='substat'>Avatar</span> 
            {% if not raid %}
                <img src="{% static 'website/images/dungeons/'|get_dungeon_avatar:dungeon.d_id %}" class='table-monster-avatar-min'>
            {% else %}
                <img src="{% static 'website/images/dungeons/'|get_dungeon_avatar:dungeon.d_name %}" class='table-monster-avatar-min'>
            {% endif %}
        <br />
        <span class='substat'>Wins</span> {{ dungeon.wins }}<br />
        <span class='substat'>Loses</span> {{ dungeon.loses }}<br />
        <span class='substat'>Success rate</span> {{ dungeon.wins|calc_success_rate:dungeon.loses }}<br />
        <span class='substat'>Average run</span> {{ dungeon.avg_time }}<br />
    </div>
</div>