{% load other %}
{% load monsters %}
{% if avg_time %}<h3>Average Time: {{ avg_time }}</h3>{% endif %}
{% if is_filter %}<h3>Filters: {{ filters }}</h3>{% endif %} 

<div class='content'>
    <div class='content-menu'>
        <button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Filters</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Charts</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='view-3-button'>Table</button>
    </div>
    <form method="GET" action="" id='filters'>
        <div id='view-1'>
            <div class='row'>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Monster</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='base'>
                                <option value='0'></option>
                                {% for monster in monsters %}
                                    <option value='{{ monster.name|space_to_ }}' {% if 'base' in request.keys and request.base.0 == monster.name|space_to_ %}selected{% endif %}>{{ monster.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Faster than (seconds)</h5>
                        </div>
                        <div class='card-custom-body'>
                            <input type='number' name='secs_min' min="0" max="600" value="{% if 'secs_min' in request.keys %}{{ request.secs_min.0 }}{% else %}0{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Success Rate (in percentages)</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='success_rate_min' min="0" max="100" value="{% if 'success_rate_min' in request.keys %}{{ request.success_rate_min.0 }}{% else %}0{% endif %}"/>
                            -
                            <input type='number' name='success_rate_max' min="0" max="100" value="{% if 'success_rate_max' in request.keys %}{{ request.success_rate_max.0 }}{% else %}0{% endif %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <button class='btn btn-secondary btn-compare active' type="submit" style='width: 100%;'>Filter</button>
        </div>
    </form>
    <div id='view-2' class='row' style='display: none;'>
        {% include "website/dungeons/charts/dungeon_chart_distribution.html" with means=runs_means distribution=runs_distribution color=runs_colors %}

		{% include "website/dungeons/charts/dungeon_chart_group_by_base.html" with name=base_names color=base_colors count=base_quantity %}
    </div>
    <div id='view-3'>
        <div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body standard'>
                The position of comp on the list is calculated by using the following formula, where \(0 < win\_rate < 1\), \(clear\_time [s] \), \(fastest\_run [s]\) and \(wins = min(wins, 1000)\)
				$$points =  {\sqrt[3]{wins} * win\_rate \over exp({clear\_time \over fastest\_run})}$$   
            </div>
        </div>

		{% include "website/dungeons/dungeon_records_table.html" with records=records_personal collapse_id="records_personal" text="Comps per Builds" collapsed="collapse" %}
    </div>
	<script>$('#view-3').css('display', 'none');</script>
</div>

<script>
	document.getElementById("filters").action = window.location.href;
</script>