{% extends "website/base.html" %}
{% load add_str %}
{% load add_reverse_str %}
{% load to_list %}
{% load get_runes %}

{% block custom_script %}
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content_title %}
	{{ name }} B{{ stage }} (Average Time: {{ avg_time }}) {% if is_filter %}{{ filters }}{% endif %}<br />
{% endblock %}

{% block content %}
	<p>
		The position of comp on the list is calculated by using the following formula, where \(0 < win\_rate < 1\), \(clear\_time [s] \), \(fastest\_run [s]\) and \(wins = min(wins, 1000)\)
		$$points =  {\sqrt[3]{wins} * win\_rate \over exp({clear\_time \over fastest\_run})}$$
	</p>
	{% include "website/dungeons/charts/dungeon_chart_distribution.html" with means=runs_means distribution=runs_distribution color=runs_colors %}

	{% include "website/dungeons/charts/dungeon_chart_group_by_base.html" with name=base_names color=base_colors count=base_quantity %}
{% endblock %}

{% block table %}
	{% include "website/dungeons/dungeon_records_table.html" with records=records_personal collapse_id="records_personal" text="Comps per Builds" collapsed="collapse" base=False %}
	
	{% include "website/dungeons/dungeon_records_table.html" with records=records_base collapse_id="records_base" text="Comps per Base Monster" collapsed="collapse" base=True %}
{% endblock %}

