{% load static %}
{% load other %}
{% load monsters %}

<div class='comparison-table'>
    <table class="table table-dark table-striped table-bordered table-hover" id='table-dungeon' style='width: 100%;'>
        <thead>
            <tr>
                <th scope="col">Frontline</th>
                <th scope="col">Backline</th>
                <th scope="col">Leader</th>
                <th scope="col">Average Time</th>
                <th scope="col">Wins</th>
                <th scope="col">Loses</th>
                <th scope="col">Success Rate</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>
                        {% for monster in record.frontline %}
                            {% if monster is None %} 
                                <img src="{% static 'website/images/monsters/monster_unknown.png' %}" class="table-monster-avatar" />
                            {% else %}    
                                {% with monster.id|randomize as rand_mon_id %}
                                    <a href="{% url 'monster_by_id' arg_id=monster.id %}" class="table-monster-href"> 
                                        <img src="{% static 'website/images/monsters/'|get_monster_avatar:monster %}" class="table-monster-avatar tip" data-tip="mon-{{ rand_mon_id }}" onmouseenter="ajaxTooltip({{ monster.id }}, 'mon', '{{ rand_mon_id }}', this)" />
                                    </a> 
                                    <div id="mon-{{ rand_mon_id }}" class="tip-content" style='display: none;'>
                                        <div class='card-custom disclaimer'>
                                            <div class='card-custom-header'>
                                                Loading...
                                            </div>
                                            <div class='card-custom-body'>
                                                Loading...
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}  
                    </td>
                    <td>
                        {% for monster in record.backline %}
                            {% if monster is None %} 
                                <img src="{% static 'website/images/monsters/monster_unknown.png' %}" class="table-monster-avatar" />
                            {% else %}    
                                {% with monster.id|randomize as rand_mon_id %}
                                    <a href="{% url 'monster_by_id' arg_id=monster.id %}" class="table-monster-href"> 
                                        <img src="{% static 'website/images/monsters/'|get_monster_avatar:monster %}" class="table-monster-avatar tip" data-tip="mon-{{ rand_mon_id }}" onmouseenter="ajaxTooltip({{ monster.id }}, 'mon', '{{ rand_mon_id }}', this)" />
                                    </a> 
                                    <div id="mon-{{ rand_mon_id }}" class="tip-content" style='display: none;'>
                                        <div class='card-custom disclaimer'>
                                            <div class='card-custom-header'>
                                                Loading...
                                            </div>
                                            <div class='card-custom-body'>
                                                Loading...
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}                   
                    </td>
                    <td>
                        {% if record.leader %}
                            {% with record.leader.id|randomize as rand_mon_id %}
                                <a href="{% url 'monster_by_id' arg_id=record.leader.id %}" class="table-monster-href"> 
                                    <img src="{% static 'website/images/monsters/'|get_monster_avatar:record.leader %}" class="table-monster-avatar tip" data-tip="mon-{{ rand_mon_id }}" onmouseenter="ajaxTooltip({{ record.leader.id }}, 'mon', '{{ rand_mon_id }}', this)" />
                                </a> 
                                <div id="mon-{{ rand_mon_id }}" class="tip-content" style='display: none;'>
                                    <div class='card-custom disclaimer'>
                                        <div class='card-custom-header'>
                                            Loading...
                                        </div>
                                        <div class='card-custom-body'>
                                            Loading...
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% else %}
                            <img src="{% static 'website/images/monsters/monster_unknown.png' %}" class="table-monster-avatar" />
                        {% endif %}
                    </td>
                    <td>
                        {% if record.average_time %}
                            {{ record.average_time }}
                        {% else %}
                            -
                        {% endif %}
                    </td>    
                    <td>{{ record.wins }}</td>    
                    <td>{{ record.loses }}</td>    
                    <td>{{ record.success_rate }}%</td>
                    <td>{{ record.sorting_val }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function initTableTooltips(){
        $('.tip').each(function () {
            $(this).tooltip(
            {
                html: true,
				placement: 'top',
                title: $('#' + $(this).data('tip')).html(),
                boundary: "window",
                container: 'body',
            });
        });
    }

    function ajaxTooltip(el_id, el_type, tooltip_id, el){
        var prefix = '#' + el_type + '-'
        if(!$(prefix + tooltip_id).html().includes('Loading')){
            return;
        }
        var url_mask = "{% url 'object_card' obj_type='a' obj_id=1 %}".replace('a', el_type.toString()).replace('1', el_id.toString());
        $.ajax({
            url: url_mask,
            type: "GET",
            success: function(response) {
                $(prefix + tooltip_id).html(response)
                $(el).attr("data-original-title", response).tooltip('show');
            },
            error: function(xhr) {
                $('#content-ajax-container').html("{% include 'website/error.html' with task_id='' %}");
            }
        });
    }

    $('#table-dungeon').DataTable({
        scrollY: window.innerHeight - 200,
        scrollX: true,
        scrollCollapse: true,
        tooltip: true,
        responsive: true,
        "order": [[ 7, "desc" ]],
        "drawCallback": function( settings ) {
            initTableTooltips(); // your tootlip function.
        },
    });
</script>