{% extends "website/base.html" %}
{% load add_str %}
{% load add_reverse_str %}
{% load to_list %}
{% load get_runes %}

{% block custom_script %}
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content_title %}
	{{ name }}
{% endblock %}

{% block jquery %}
    <script>
        function fetchData(){
            $.ajax({
                url: "{% url 'rift_dungeon_by_stage_ajax' task_id=task_id name=name %}",
                type: "GET",
                success: function(response) {
                    seconds += 1;
                    $('#secs').text(seconds);
                    if(response){
                        $('#content-ajax-container').html(response);
                        MathJax.typesetPromise();
                        clearInterval(fetchDataInterval);
                    }
                },
                error: function(xhr) {
                    $('#content-ajax-container').html("<h2>There was an error while connecting. Please, refresh the page.</h2>");
                    clearInterval(fetchDataInterval);
                }
            });
        }
        var seconds = 0;
        var fetchDataInterval = setInterval(fetchData, 1000);
    </script>
{% endblock %}