{% load static %}
{% load other %}
{% load dungeons %}

<div class='card-custom bordered standard' onClick="moveTo('{% url 'rift_dungeon_by_stage' name=rift.dungeon|get_rift_name|dungeon_to_div_id %}')" style='cursor: pointer;'>
    <div class='card-custom-header'>
        {{ rift.dungeon|get_rift_name }}
    </div>
    <div class='card-custom-body standard'>
        {% with rift.dungeon|get_rift_name as rift_name %}
            <span class='substat'>Avatar</span> <img src="{% static 'website/images/dungeons/'|get_dungeon_avatar:rift_name %}" class='table-monster-avatar-min'> <br />
        {% endwith %}
        <span class='substat'>Wins</span> {{ rift.wins }}<br />
        <span class='substat'>Loses</span> {{ rift.loses }}<br />
        <span class='substat'>Success rate</span> {{ rift.wins|calc_success_rate:rift.loses }}<br />
        <span class='substat'>Average damage</span> {{ rift.avg_dmg }}<br />
    </div>
</div>