<!doctype html>
<html lang="en">
  {% load static %}
  {% load is_active %}
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161013694-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161013694-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <link rel="icon" href="{% static 'website/images/icons/runes_favicon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
    {% block custom_script %} {% endblock %}
    <title>
        {% block title %}
            Summoners War Statistics Web
        {% endblock%}
    </title>
    <script src="{% static 'website/js/script.js' %}"></script>
  </head>
  <body>
    {% block navbar %}
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" id="sidebar-upper">
            <a class="navbar-brand col-sm-3  mr-0">
                <span class="text">SW Statistics Web</span>
                <img src={% static 'website/images/icons/menu.svg' %} class="menu-img" id="sidebar-toggler" />
            </a>
        </nav>
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            <nav class="d-md-block bg-light sidebar" id="sidebar-lower">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="padding: 0 !important;">
                        <span>Data Logs</span>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}" href="{% url 'home' %}" >
                                <img src={% static 'website/images/icons/home.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Homepage</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "upload" %}active{% endif %}" href="{% url 'upload' %}" >
                                <img src={% static 'website/images/icons/upload.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Upload Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "runes" %}active{% endif %}" href="{% url 'runes' %}" >
                                    <img src={% static 'website/images/icons/runes.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Runes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "monsters" %}active{% endif %}" href="{% url 'monsters' %}" >
                                <img src={% static 'website/images/icons/monsters.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Monsters</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "decks" %}active{% endif %}" href="{% url 'decks' %}" >
                                <img src={% static 'website/images/icons/decks.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Decks</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "dungeons" %}active{% endif %}" href="{% url 'dungeons' %}" >
                                <img src={% static 'website/images/icons/dungeons.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Dungeons</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "siege" %}active{% endif %}" href="{% url 'siege' %}" >
                                <img src={% static 'website/images/icons/siege.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Siege</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "dimhole" %}active{% endif %}" href="{% url 'dimhole' %}" > <!-- placeholder -->
                            <img src={% static 'website/images/icons/dimhole.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Dimension Hole</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "reports" %}active{% endif %}" href="{% url 'reports' %}" >
                                <img src={% static 'website/images/icons/reports.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Reports</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "contribute" %}active{% endif %}" href="{% url 'contribute' %}" >
                                <img src={% static 'website/images/icons/contribute.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Contribute</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "credits" %}active{% endif %}" href="{% url 'credits' %}" >
                                <img src={% static 'website/images/icons/credits.svg'|is_active:request.resolver_match.url_name %} class="menu-img" />
                                <span class="text">Credits</span>
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="padding: 0 !important;">
                        <span>Desktop App</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "desktop" %}active{% endif %}" href="{% url 'desktop' %}">
                            <img src="{% static 'website/images/icons/desktop.svg'|is_active:request.resolver_match.url_name %}" class="menu-img" />
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "building" %}active{% endif %}" href="{% url 'building' %}">
                            <img src="{% static 'website/images/icons/building.svg'|is_active:request.resolver_match.url_name %}" class="menu-img" />
                                <span class="text">Towers Calculator</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "dimholecalc" %}active{% endif %}" href="{% url 'dimholecalc' %}">
                            <img src="{% static 'website/images/icons/dimholecalc.svg'|is_active:request.resolver_match.url_name %}" class="menu-img" />
                                <span class="text">Dim Hole Calculator</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{% block content_title %}Introduction{% endblock %}</h1>
                </div>

                {% block ajax_container %}
                    <div id="content-ajax-container">
                        <span id='secs'>0</span>
                        <div class="loader">Loading...</div>
                    </div>
                {% endblock %}
            </main>
        </div>
    </div>
    {% block jquery %}{% endblock %}
  </body>
</html>