{% extends "website/base.html" %}

{% load static %}

{% block content_title%}
    How to contribute
{% endblock %}

{% block ajax_container %} 
    <ol>
        <li>Download and install <a href="https://github.com/Xzandro/sw-exporter/releases"><b>SWEX</b></a>
        <li>Follow <a href="https://www.reddit.com/r/summonerswar/comments/cxwkav/summoners_war_exporter_swex_everything_you_need/"><b>these instructions</b></a></li>
        <li>Download <a href="https://github.com/QuatZo/swex-plugins/releases"><b>SW Statistics Logger</b></a> (filename: <b>sw_statistics_logger.asar</b>)
        <li>Copy downloaded file to <b>{SWEX Installation Folder}/Plugins</b>
        <li>Run <b>SWEX</b>
        <li>Make sure <b>SW Statistics Logger</b> is enabled in <b>SWEX</b> (in Settings tab).
        <li>...
        <li>Profit
    </ol>
    <h4>If you did everything correctly and website is working as intended, you should see something like this (commands may be different)<br /></h4>
    
    <img src="{% static 'website/images/swex_success.png' %}" class="img-center" />

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">When this plugin sends data to SW Statistics?</h1>
    </div>
    <p>
        The first - and the most important - data upload is when you launch the game. This plugin sends your whole profile data to the server, which saves only the important information.
        Then, everytime you do some action that triggers one of the commands SW Statistics Plugin printed for you in SWEX, it sends its command data. Mostly Dungeon Runs & Siege defenses.
        In order to send your siege defense records, you need to go to <b>Siege</b> and click on <b>Defense</b>. Every other command is sent without doing additional tasks 
        (just by playing).<br />
        If SW Statistics Website doesn't have your profile saved, it may throw some errors or give you a message in SWEX that server couldn't handle this. The best you can do is to let me
        know AND also <b>restart Summoners War</b>.
    </p>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Siege Defenses</h1>
    </div>
    <p>
        In order to upload Siege Defenses record, you need to go to Siege Battle screen, then tap on Defenses. 
        It is also possible to upload friend's Siege Defenses, by going to Members and then tapping on specific friend.
    </p>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Reporting bugs & errors</h1>
    </div>
    At this moment, the only option to report any bugs, errors is to directly message me on <a href="https://www.reddit.com/user/QuatZo"><b>Reddit</b></a>
{% endblock %}