{% extends "website/base.html" %}

{% load static %}

{% block content_title%}
    How to contribute
{% endblock %}

{% block content %} 
    <p>
        Hey, nice that someone checked this page. It's awesome, really. Here will be a link to Summoners War Statistics plugin for SWEXporter, in order to send data, incl. instructions. <br />
        Some thanks and maybe some statistics how many people already used this tool, which version it is (if I ever implement versioning)
    </p>
    
{% endblock %}