{% extends "website/base.html" %}

{% load static %}

{% block content_title%}
    Credits
{% endblock %}

{% block ajax_container %} 
    Thanks for using this tool, you are awesome! Some people contributed to this directly (or indirectly), so I wanted to thank them for their effort. <br /> <br />
    <ul>
        <li><b><a class='dark-href' href="https://www.com2us.com/">Com2Us</a></b> - all data belongs to them, since it's theirs game.
        <li><b><a class='dark-href' href="https://github.com/Xzandro">Xzandro</a></b> - creator of <a class='dark-href' href="https://github.com/Xzandro/sw-exporter">SWEXporter</a>, which is a main tool to gather data logs, 
            <a class='dark-href' href="https://tool.swop.one">SWOP</a> and <a class='dark-href' href="https://gw.swop.one">SWAG</a>
        <li><b><a class='dark-href' href="https://github.com/PeteAndersen">Porksmash</a></b> - creator of <a class='dark-href' href="https://swarfarm.com">SWARFarm</a>, which helps you track and manage your monster collection, fusions etc. and Bestiary.
        <li><b><a class='dark-href' href="https://github.com/chinleung">Chin Leung</a></b> - <a class='dark-href' href="https://www.rtapicks.info/dashboards/main">RTA Analytics Tool</a>, thanks to this I needed to do a lot less RTA-related work.
        <li><b><a class='dark-href' href="https://www.chartjs.org/">Chart.JS</a></b> - <i>Simple yet flexible JavaScript charting for designers & developers</i>
        <li><b><a class='dark-href' href="https://www.mathjax.org/">MathJax</a></b> - <i>A JavaScript display engine for mathematics that works in all browsers.</i>
    </ul>
{% endblock %}