{% extends "website/base.html" %}

{% load static %}

{% block content_title%}
    Credits
{% endblock %}

{% block content %} 
    First of all, I would like to thank everyone who's using this tool, but they need to understand that some people made more than others and here are these people
    (nickname/github/project name/tool) <br /> <br />
    <ul>
        <li> Com2Us for making this awesome game. Of course, every data and every image here belongs to Com2Us. I don't want to get sued, really
        <li> Xzandro, because SWEXporter
        <li> Porksmash, because SWARFARM, API (which I don't use), game files - since C2U started to encoding them and he didn't share its salt, understandable
        <li> Creator of SW RTA Picks
        <li> Creator of SW Analytics Tool, or whatever it was called
        <li> And maybe someone else, don't know yet
        <li> Oh if any streamer (i.e. SeanB) will be kind enough to send its JSON files to test the data flow, I will put them here as well
        <li> Any tester will be here, so probably Okkipooky also
    </ul>
{% endblock %}