{% load static %}
{% load dungeons %}
{% load other %}

<div class="content">
    <div class='content-menu'>
        <button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Milestones</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Introduction</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='view-3-button'>Data Collection</button>
    </div>

    <div id='view-1' class='row'>
        {% for message in messages %}
            <div class='col-12 col-md-3 col-lg-2'>
                <div class='card-custom'>
                    {% if message.type == 'rune' %}<a href="{% url 'rune_by_id' arg_id=message.arg %}">
                        {% elif message.type == 'monster' %}<a href="{% url 'monster_by_id' arg_id=message.arg %}">
                        {% elif message.type == 'dungeon' %}<a href="{% url 'dungeon_by_stage' name=message.arg.dungeon|dungeon_to_div_id stage=message.arg.stage %}">
                    {% endif %}
                    <div class='card-custom-header'>
                        <h5>{{ message.title }}</h5>
                    </div>
                    <div class='card-custom-body'>
                        {{ message.text }}
                    </div>
                    {% if message.type %}</a>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id='view-2' class='row' style='display: none;'>
        <div class='col-12 col-md-4'>
            <div class='card-custom big'>
                <div class='card-custom-header'>
                    <h5>What’s Summoners War Statistics Web</h5>
                </div>
                <div class='card-custom-body'>
                    Summoners War Statistics Web is a website which stores, analyse and shows in a friendly way contributors data but also implements the most important features from 
                    Summoners War Statistics Windows App which had been discontinued because of technology limits.
                </div>
            </div>
        </div>
        <div class='col-12 col-md-4'>
            <div class='card-custom big'>
                <div class='card-custom-header'>
                    <h5>Data Logs Section</h5>
                </div>
                <div class='card-custom-body'>
                    In Data Logs Section you can find analysis, charts, tables and reports which uses whole data stored in database, i.e.:
                    <ul>
                        <li>Wizard (Summoner)</li>
                        <li>Guild</li>
                        <li>Monsters</li>
                        <li>Runes</li>
                        <li>Artifacts</li>
                        <li>Monster builds</li>
                        <li>RTA Monster builds</li>
                        <li>Dungeon runs</li>
                        <li>Rift runs</li>
                        <li>Raid runs</li>
                    </ul>
                    Data send through Data Logs Section IS stored in our database.
                </div>
            </div>
        </div>
        <div class='col-12 col-md-4'>
            <div class='card-custom big'>
                <div class='card-custom-header'>
                    <h5>Personal Section</h5>
                </div>
                <div class='card-custom-body'>
                    In Personal Section you can find towers & flags calculator, dimension hole calculator (2A monsters) and graphic representation of your profile:
                    <ul>
                        <li>Wizard (Summoner)</li>
                        <li>Monsters (with details)</li>
                        <li>Runes (with details)</li>
                        <li>Guild</li>
                        <li>Guild members activity</li>
                        <li>Friends activity</li>
                    </ul>
                    Data send through Personal Section IS NOT stored in our database.
                </div>
            </div>
        </div>
    </div>
    <div id='view-3' class='row' style='display: none;'>
        <div class='col-12 col-md-4'>
            <div class='card-custom big'>
                <div class='card-custom-header'>
                    <h5>Data Logs Section</h5>
                </div>
                <div class='card-custom-body'>
                    Every data used in Data Logs Section is being collected annonymously by using website built-in Upload Functionality (together with Rank & Compare) or by using 
                    SWEX Plugin. More information in Contribute page.
                </div>
            </div>
        </div>
        <div class='col-12 col-md-4'>
            <div class='card-custom big'>
                <div class='card-custom-header'>
                    <h5>Personal Section</h5>
                </div>
                <div class='card-custom-body'>
                    Every data used in Personal Section is not anonymous but it’s not stored in Summoners War Statistics Database. It works similar to all known SWOP - locally. 
                    Data is stored in Browser Local Storage to not force you to upload your profile in Personal Section everytime you visit it.
                </div>
            </div>
        </div>
        <div class='col-12 col-md-4'>
            <div class='card-custom big'>
                <div class='card-custom-header'>
                    <h5>I don't want my data to be there</h5>
                </div>
                <div class='card-custom-body'>
                    I can assure you that no user will be able to tell if specific monster, rune, artifact or dungeon run is yours or not. However, if you want your data to be deleted,
                     please contact me through Reddit (as for now the only form of contact) and we will see what can be done.
                    Be prepare to give me some additional info I ask (most of the time example JSON file from your profile is enough), no personal data involved. 
                </div>
            </div>
        </div>
    </div>
</div>