<div class="card" style="margin-bottom: 15px;">
    <div class="card-header" >
        Arena
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-6">
                <label for="arena-ranking"><b>Arena Ranking</b></label><br/>
                <select name="arena-ranking" id="arena-ranking" class="calc-input form-control">
                    <option value="2" default>Beginner
                    <option value="3">Challenger
                    <option value="4">Fighter
                    <option value="5">Conqueror+
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label for="arena-wings"><b>Wings per Day</b></label><br/>
                <input type="number" name="arena-wings" id="arena-wings" class="calc-input form-control" min="20" max="500" value="30"/>
            </div>
        </div>
    </div>
</div>