{% extends "website/base.html" %}
{% load static %}
{% load add_str %}

{% block content_title %}
    [Desktop App] Towers & Flags Calculator
{% endblock %}

{% block ajax_container %} 
    <span id="profile-upload"></span><br />
    <div id="calculator">
        {% include 'website/desktopapp/buildings_form_arena.html' %}

        {% include 'website/desktopapp/buildings_form_guild.html' %}

        <p id="loading"></p>

        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Area</th>
                        <th scope="col">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Next Upgrade</th>
                        <th scope="col">Points To Max</th>
                        <th scope="col">Days To Upgrade</th>
                        <th scope="col">Days To Max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in buildings %}
                        <tr id={{ "id_"|add_str:building.id }}>
                            <td id="area">{{ building.get_area_display }}</td>
                            <td id="name">{{ building.name }}</td>
                            <td id="level">0</td>
                            <td id="upgrade">0</td>
                            <td id="upgrade-max">0</td>
                            <td id="days">Unknown</td>
                            <td id="days-max">Unknown</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Calculation Method</h1>
        </div>
        <ol>
            <li><b>Arena</b>
            <ul>
                <li>At the start of every week, devilmon cost (180 glory points) is added to the pool
                <li>Wing per Day need to be between 20 and 500
                <li>Calculator assumes every used wing is a win
            </ul>
            <li><b>Guild</b>
            <ul>
                <li>At the start of every week, rainbowmon cost (150 guild points) is added to the pool
                <li>At the start of every week, 1st siege reward is substracted from the pool
                <li>At the 4th day of every week, 2nd siege reward is substracted from the pool
                <li>Calculator assumes player scored 10% contribution during Siege Battle
                <li>Calculator assumes player is always following +6 rule in Guild war
                <li>Calculator assumes every used guild sword has been successful
            </ul>
        </ol>
    </div>
{% endblock %}

{% block jquery %}
{{ buildings_cost|json_script:'buildings'}}
{{ siege|json_script:'siege'}}
{{ gw|json_script:'gw'}}
<script>var upload_url = "{% url 'desktop' %}";</script>
<script src="{% static 'website/js/buildings.js' %}"></script>
{% endblock %}