{% extends "website/base.html" %}
{% load add_str %}

{% block content_title %}
    [Desktop App] Towers & Flags Calculator
{% endblock %}

{% block content %} 
    <span id="profile-upload"></span><br />
    <div id="calculator">
        {% include 'website/desktopapp/buildings_form_arena.html' %}

        {% include 'website/desktopapp/buildings_form_guild.html' %}

        <p id="loading"></p>

        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Area</th>
                        <th scope="col">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Next Upgrade</th>
                        <th scope="col">Points To Max</th>
                        <th scope="col">Days To Upgrade</th>
                        <th scope="col">Days To Max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in buildings %}
                        <tr id={{ "id_"|add_str:building.id }}>
                            <td id="area">{{ building.get_area_display }}</td>
                            <td id="name">{{ building.name }}</td>
                            <td id="level">0</td>
                            <td id="upgrade">0</td>
                            <td id="upgrade-max">0</td>
                            <td id="days">Unknown</td>
                            <td id="days-max">Unknown</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
{{ buildings_cost|json_script:'buildings'}}
<script>
    var buildings = JSON.parse(document.getElementById('buildings').textContent);
    var profile = localStorage.getItem('profile_json');
    $( document ).ready(function() {
        for (const [key, value] of Object.entries(buildings)) {
            let level_id = "#" + key + " #level";
            let upgrade_id = "#" + key + " #upgrade";
            let upgrade_max_id = "#" + key + " #upgrade-max";

            let sum = value.reduce((a, b) => a + b, 0);
            $(upgrade_id).text(value[0]);
            $(upgrade_max_id).text(sum);
        }

        if(!profile){
            $('#profile-upload').html("<h2>No uploaded profile available. Please, <a href='{% url 'desktop' %}'>upload your profile</a> first if you want to use all calculator functionalities.</h2>")
        }
        else{
            let decos = JSON.parse(profile).deco_list;
            for(var deco_id in decos){
                let deco = decos[deco_id];
                let id_row = "#id_" + deco.master_id;
                let level_id = id_row + " #level";
                let upgrade_id = id_row + " #upgrade";
                let upgrade_max_id = id_row + " #upgrade-max";
                let level = deco.level;
                var sum, next_upgrade;

                if(level == 10) { 
                    sum = 0; 
                    next_upgrade = 0; 
                    $(id_row).addClass("building-done");
                }
                else{
                    let upgrades = buildings['id_' + deco.master_id].slice(level)
                    sum = upgrades.reduce((a, b) => a + b, 0);
                    next_upgrade = upgrades[0]
                }
                $(level_id).text(level);
                $(upgrade_id).text(next_upgrade);
                $(upgrade_max_id).text(sum);
            }
            calculateArenaDays();
        }
    });

    function loading(done=false) {
        let text = "Please wait, calculating days...";
        if(done){ text = ""; }
        $("#loading").text(text);
    }

    $('#arena-ranking').on('change', function() {
        if($('#arena-wings').val() < 20){
            return;
        }
        if(profile){ 
            loading();
            calculateArenaDays().then(loading(true)); 
        }
    });
    $('#arena-wings').bind('input', function(){
        if($('#arena-wings').val() < 20){
            return;
        }
        if(profile){ 
            loading();
            calculateArenaDays().then(loading(true)); 
        }
    });

    async function calculateArenaDays(){
        let arena_wings = $('#arena-wings').val();
        let arena_ranking = $('#arena-ranking').val();
        if(!arena_wings || arena_wings == "" ){ $('#arena-wings').val(0); arena_wings = 0 }
        if(!arena_ranking || arena_ranking == ""  ){ $('#arena-ranking').val(2); arena_ranking = 2; }

        let points_per_day = arena_wings * arena_ranking // wings per day * arena points per win, assume farming (all wins)

        for (const [key, value] of Object.entries(buildings)) {
            if($("#" + key + " #area").text() != "Arena"){ continue; }

            let level_id = "#" + key + " #level";
            let upgrade_id = "#" + key + " #upgrade";
            let upgrade_max_id = "#" + key + " #upgrade-max";
            let days_id = "#" + key + " #days";
            let days_max_id = "#" + key + " #days-max";

            let upgrade_next = parseInt($(upgrade_id).text());
            let upgrade_max = parseInt($(upgrade_max_id).text());
            let days = 0;
            let days_max = 0;
            while(upgrade_next > 0){
                if(days % 7 == 0){ upgrade_next += 180 }
                upgrade_next -= points_per_day
                days += 1;
            }
            day = 0;
            while(upgrade_max > 0){
                if(days_max % 7 == 0){ upgrade_next += 180 }
                upgrade_max -= points_per_day
                days_max += 1;
            }
            $(days_id).text(days);
            $(days_max_id).text(days_max);
        }
    }    
</script>
{% endblock %}