<div class="card" style="margin-bottom: 15px;">
    <div class="card-header" >
        Guild
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-6">
                <label for="guild-ranking"><b>Guild War Ranking</b></label><br/>
                <select name="guild-ranking" id="guild-ranking" class="calc-input form-control">
                    <option value="" default>Need to check if all or not eL Oł eL
                    <option value="2">Beginner
                    <option value="3">Challenger
                    <option value="4">Fighter
                    <option value="5">Conqueror+
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label for="guild-wings"><b>Battles Won Per Week</b></label><br/>
                <input type="number" name="guild-wings" id="guild-wings" class="calc-input form-control" min="0" max="12" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <label for="siege-ranking"><b>Siege Ranking</b></label><br/>
                <select name="siege-ranking" id="siege-ranking" class="calc-input form-control">
                    <option value="" default>Need to check if all or not eL Oł eL
                    <option value="2">Beginner
                    <option value="3">Challenger
                    <option value="4">Fighter
                    <option value="5">Conqueror+
                </select>
            </div>
            <div class="col-6 col-sm-3">
                <label for="siege-first"><b>1st Siege Place</b></label><br/>
                <input type="radio" id="1" name="siege-first" value="1">First<br />
                <input type="radio" id="2" name="siege-first" value="2">Second<br />
                <input type="radio" id="3" name="siege-first" value="3">Place<br />
            </div>
            <div class="col-6 col-sm-3">
                <label for="siege-ranking"><b>2nd Siege Place</b></label><br/>
                <input type="radio" id="1" name="siege-second" value="1">First<br />
                <input type="radio" id="2" name="siege-second" value="2">Second<br />
                <input type="radio" id="3" name="siege-second" value="3">Place<br />
            </div>
        </div>
    </div>
</div>