{% extends "website/base.html" %}
{% load static %}
{% load other %}

{% block content_title %}
    [Desktop App] Dimension Hole Calculator
{% endblock %}

{% block ajax_container %} 
    <span id="profile-upload"></span><br />
    <div id="calculator">
        <p id="loading"></p>

        <div class="table-responsive">
            <table class="table table-dark table-hover table-sm" id="dimholecalc">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">Monster</th>
                        <th scope="col" rowspan="2">AXP</th>
                        <th scope="col" rowspan="2">AXP Left</th>
                        <th scope="col" colspan="2" style="text-align: center;">B1</th>
                        <th scope="col" colspan="2" style="text-align: center;">B2</th>
                        <th scope="col" colspan="2" style="text-align: center;">B3</th>
                        <th scope="col" colspan="2" style="text-align: center;">B4</th>
                        <th scope="col" colspan="2" style="text-align: center;">B5</th>
                    </tr>
                    <tr>
                        <th scope="col">Energy</th>
                        <th scope="col">Days</th>
                        <th scope="col">Energy</th>
                        <th scope="col">Days</th>
                        <th scope="col">Energy</th>
                        <th scope="col">Days</th>
                        <th scope="col">Energy</th>
                        <th scope="col">Days</th>
                        <th scope="col">Energy</th>
                        <th scope="col">Days</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}

{% block jquery %}
    <script>
        var axp_per_level = Array.from({{ axp_per_level|safe }});
        var base_monsters = {{ monsters|safe }};
        var upload_url = "{% url 'desktop' %}"
    </script>
    <script src="{% static 'website/js/dimholecalc.js' %}"></script>
{% endblock %}