<td>{{ value }}</td>

{% if top and value %}
    <td data-order="{{ top }}">{{ top }}%</td>
{% elif value and value != '-' and not top %}
    <td data-order="-1"><span style='color: #00aa00'>Best</span></td>
{% else %}
    <td data-order="101">-</td>
{% endif %}

<td data-order="{{ avg }}">
    {% if avg > 0.00 %}
        <span style='color: #00aa00'>+{{ avg }}</span>
    {% elif avg < 0.00 %}
        <span style='color: #ff0000'>{{ avg }}</span>
    {% else %}
        {{ avg }}
    {% endif %}
</td>