{% load add_num %}
{% load add_str %}

<div class="col-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <center>
                <h3><b>Your account has got</b></h3>
                <br />
                <h1>{{ total.all }} points</h1>
                <br />
                <h5>Details below<br />Scoring list at the bottom</h5>
            </center>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-4 border-right ranking-header" style="border-color: #333!important;">
                    <div class="row">
                        <div class="col-8 col-lg-8 border-right text-center"><b>Summoner, Guild, Towers, Flags</b></div>
                        <div class="col-4 col-lg-4 text-center"><b>Pts</b></div>
                    </div>
                    <hr style="height: 1px; border: none; color: #333; background-color: #333;">
                    <ul class="list-group list-group-flush">
                        {% include 'website/upload/upload_ranking_cell.html' with text='Active Contributor' value=wizard.active_contributor.total contribute=True %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Mana' value=wizard.mana_100k.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Crystals' value=wizard.crystals_10.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Level' value=wizard.level.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Antibot Answers' value=wizard.antibot_count.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Raid' value=wizard.raid.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Storage Capacity' value=wizard.storage_capacity.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Guild War Ranking' value=guild.gw_rank.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Siege Ranking' value=guild.siege_rank.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Buildings (lv 10)' value=buildings.max.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='All Buildings (lv 10)' value=buildings.max_all.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Flags (lv 10)' value=flags.max.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='All Flags (lv 10)' value=flags.max_all.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with value=total.guild|add_num:total.buildings|add_num:total.flags|add_num:total.wizard bold=True %}
                    </ul>
                </div>
                <div class="col-12 col-lg-4 border-right ranking-header" style="border-color: #333!important;">
                    <div class="text-center"><b>Monsters</b></div>
                    <hr style="height: 1px; border: none; color: #333; background-color: #333;">
                    <ul class="list-group list-group-flush">
                        {% include 'website/upload/upload_ranking_cell.html' with text='Quantity' value=monsters.count.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Nat4' value=monsters.nat4.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Nat5' value=monsters.nat5.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6*' value=monsters.stars_6.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Transmogrified' value=monsters.transmog.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='With 6 runes' value=monsters.with_runes.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Skill ups' value=monsters.skillup.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Maxed Skills' value=monsters.skillups_max.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Speed' value=monsters.speed.0.total|add_num:monsters.speed.1.total|add_num:monsters.speed.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Attack' value=monsters.attack.0.total|add_num:monsters.attack.1.total|add_num:monsters.attack.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='HP' value=monsters.hp.0.total|add_num:monsters.hp.1.total|add_num:monsters.hp.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Defense' value=monsters.defense.0.total|add_num:monsters.defense.1.total|add_num:monsters.defense.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Rate' value=monsters.crit_rate.0.total|add_num:monsters.crit_rate.1.total|add_num:monsters.crit_rate.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Damage' value=monsters.crit_dmg.0.total|add_num:monsters.crit_dmg.1.total|add_num:monsters.crit_dmg.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Accuracy' value=monsters.acc.0.total|add_num:monsters.acc.1.total|add_num:monsters.acc.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Resistance' value=monsters.res.0.total|add_num:monsters.res.1.total|add_num:monsters.res.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with value=total.monsters bold=True %}
                    </ul>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center"><b>Runes</b></div>
                    <hr style="height: 1px; border: none; color: #333; background-color: #333;">
                    <ul class="list-group list-group-flush">
                        {% include 'website/upload/upload_ranking_cell.html' with text='Quantity' value=runes.count.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='5* Legends' value=runes.stars_5_legend.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6*' value=runes.stars_6.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6* Hero+' value=runes.stars_6_hero.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6* Legend' value=runes.stars_6_legend.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='+12 or higher' value=runes.upgrade_12.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='+15' value=runes.upgrade_15.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Speed' value=runes.sub_speed.0.total|add_num:runes.sub_speed.1.total|add_num:runes.sub_speed.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Attack' value=runes.sub_atk.0.total|add_num:runes.sub_atk.1.total|add_num:runes.sub_atk.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='HP' value=runes.sub_hp.0.total|add_num:runes.sub_hp.1.total|add_num:runes.sub_hp.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Defense' value=runes.sub_def.0.total|add_num:runes.sub_def.1.total|add_num:runes.sub_def.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Rate' value=runes.sub_crit_rate.0.total|add_num:runes.sub_crit_rate.1.total|add_num:runes.sub_crit_rate.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Damage' value=runes.sub_crit_dmg.0.total|add_num:runes.sub_crit_dmg.1.total|add_num:runes.sub_crit_dmg.2.total %}
                        {% include 'website/upload/upload_ranking_cell.html' with value=total.runes bold=True %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top: 50px;">
        <div class="card-header">
            <center>
                <h3><b>Scoring list</b></h3>
                <br />
                <h5>If one object (i.e. Rune) falls into few categories, every category is counted
                    <br />
                    Let's say you have +15 Legend 6* rune with {{ runes.sub_speed.1.threshold|add_num:1 }} speed
                    <br />
                    This rune falls into categories: 
                    <br /><br />Quantity, 6*, 6* Hero+, 6* Legends, +12, +15, Speed (twice)
                    <br /><br />
                    Summing everything up, this rune gives 
                    <br /><br />{{ runes.count.base }} + {{ runes.stars_6.base }} + {{ runes.stars_6_hero.base }} + {{ runes.stars_6_legend.base }} + {{ runes.upgrade_12.base }} + {{ runes.upgrade_15.base }} + {{ runes.sub_speed.0.base }} (for +{{ runes.sub_speed.0.threshold }} speed) +{{ runes.sub_speed.1.base }} (for +{{ runes.sub_speed.1.threshold }} speed) = 
                        {{ runes.count.base|add_num:runes.stars_6.base|add_num:runes.stars_6_hero.base|add_num:runes.stars_6_legend.base|add_num:runes.upgrade_12.base|add_num:runes.upgrade_15.base|add_num:runes.sub_speed.0.base|add_num:runes.sub_speed.1.base }} points
            </center>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-4 border-right ranking-header" style="border-color: #333!important;">
                    <div class="row">
                        <div class="col-8 col-lg-8 border-right text-center"><b>Summoner, Guild, Towers, Flags</b></div>
                        <div class="col-4 col-lg-4 text-center"><b>Pts</b></div>
                    </div>
                    <hr style="height: 1px; border: none; color: #333; background-color: #333;">
                    <ul class="list-group list-group-flush">
                        {% include 'website/upload/upload_ranking_cell.html' with text='Active Contributor<br /><small>if contributes to the database</small>' value=wizard.active_contributor.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Mana<br /><small>per 100k</small>' value=wizard.mana_100k.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Crystals<br /><small>per 10</small>' value=wizard.crystals_10.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Level<br /><small>per level</small>' value=wizard.level.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Antibot Answers<br /><small>per answer</small>' value=wizard.antibot_count.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Raid<br /><small>multiplied by highest cleared raid</small>' value=wizard.raid.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Storage Capacity<br /><small>per slot in storage</small>' value=wizard.storage_capacity.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Guild War Ranking<br /><small>per rank</small>' value=guild.gw_rank.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Siege Ranking<br /><small>per rank</small>' value=guild.siege_rank.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Buildings (lv 10)<br /><small>per maxed tower</small>' value=buildings.max.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='All Buildings (lv 10)<br /><small>if all buildings maxed</small>' value=buildings.max_all.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Flags (lv 10)<br /><small>per maxed flag</small>' value=flags.max.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='All Flags (lv 10)<br /><small>if all flags maxed</small>' value=flags.max_all.base %}
                    </ul>
                </div>
                <div class="col-12 col-lg-4 border-right ranking-header" style="border-color: #333!important;">
                    <div class="text-center"><b>Monsters</b></div>
                    <hr style="height: 1px; border: none; color: #333; background-color: #333;">
                    <ul class="list-group list-group-flush">
                        {% include 'website/upload/upload_ranking_cell.html' with text='Quantity<br /><small>per monster</small>' value=monsters.count.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Nat4<br /><small>per monster</small>' value=monsters.nat4.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Nat5<br /><small>per monster</small>' value=monsters.nat5.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6*<br /><small>per monster</small>' value=monsters.stars_6.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Transmogrified<br /><small>per monster</small>' value=monsters.transmog.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='With 6 runes<br /><small>per monster, if has equipped 6 runes</small>' value=monsters.with_runes.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Skill ups<br /><small>per every skillup point</small>' value=monsters.skillup.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Maxed Skills<br /><small>per monster if all skills maxed</small>' value=monsters.skillups_max.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Speed<br /><small>respectively for total '|add_str:monsters.speed.0.threshold|add_str:', '|add_str:monsters.speed.1.threshold|add_str:', '|add_str:monsters.speed.2.threshold|add_str:'</small>' value=monsters.speed.0.base|add_str:', '|add_str:monsters.speed.1.base|add_str:', '|add_str:monsters.speed.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Attack<br /><small>respectively for total '|add_str:monsters.attack.0.threshold|add_str:', '|add_str:monsters.attack.1.threshold|add_str:', '|add_str:monsters.attack.2.threshold|add_str:'</small>' value=monsters.attack.0.base|add_str:', '|add_str:monsters.attack.1.base|add_str:', '|add_str:monsters.attack.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='HP<br /><small>respectively for total '|add_str:monsters.hp.0.threshold|add_str:', '|add_str:monsters.hp.1.threshold|add_str:', '|add_str:monsters.hp.2.threshold|add_str:'</small>' value=monsters.hp.0.base|add_str:', '|add_str:monsters.hp.1.base|add_str:', '|add_str:monsters.hp.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Defense<br /><small>respectively for total '|add_str:monsters.defense.0.threshold|add_str:', '|add_str:monsters.defense.1.threshold|add_str:', '|add_str:monsters.defense.2.threshold|add_str:'</small>' value=monsters.defense.0.base|add_str:', '|add_str:monsters.defense.1.base|add_str:', '|add_str:monsters.defense.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Rate<br /><small>respectively for '|add_str:monsters.crit_rate.0.threshold|add_str:'%, '|add_str:monsters.crit_rate.1.threshold|add_str:'%, '|add_str:monsters.crit_rate.2.threshold|add_str:'%</small>' value=monsters.crit_rate.0.base|add_str:', '|add_str:monsters.crit_rate.1.base|add_str:', '|add_str:monsters.crit_rate.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Damage<br /><small>respectively for '|add_str:monsters.crit_dmg.0.threshold|add_str:'%, '|add_str:monsters.crit_dmg.1.threshold|add_str:'%, '|add_str:monsters.crit_dmg.2.threshold|add_str:'%</small>' value=monsters.crit_dmg.0.base|add_str:', '|add_str:monsters.crit_dmg.1.base|add_str:', '|add_str:monsters.crit_dmg.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Accuracy<br /><small>respectively for '|add_str:monsters.acc.0.threshold|add_str:'%, '|add_str:monsters.acc.1.threshold|add_str:'%, '|add_str:monsters.acc.2.threshold|add_str:'%</small>' value=monsters.acc.0.base|add_str:', '|add_str:monsters.acc.1.base|add_str:', '|add_str:monsters.acc.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Resistance<br /><small>respectively for '|add_str:monsters.res.0.threshold|add_str:'%, '|add_str:monsters.res.1.threshold|add_str:'%, '|add_str:monsters.res.2.threshold|add_str:'%</small>' value=monsters.res.0.base|add_str:', '|add_str:monsters.res.1.base|add_str:', '|add_str:monsters.res.2.base %}
                    </ul>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center"><b>Runes</b></div>
                    <hr style="height: 1px; border: none; color: #333; background-color: #333;">
                    <ul class="list-group list-group-flush">
                        {% include 'website/upload/upload_ranking_cell.html' with text='Quantity<br /><small>per rune</small>' value=runes.count.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='5* Legends<br /><small>per rune</small>' value=runes.stars_5_legend.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6*<br /><small>per rune, also Hero+ 6*</small>' value=runes.stars_6.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6* Hero+<br /><small>per rune, also Legend 6*</small>' value=runes.stars_6_hero.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='6* Legend<br /><small>per rune</small>' value=runes.stars_6_legend.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='+12 or higher<br /><small>per rune, also +15</small>' value=runes.upgrade_12.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='+15<br /><small>per rune</small>' value=runes.upgrade_15.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Speed<br /><small>respectively for +'|add_str:runes.sub_speed.0.threshold|add_str:', +'|add_str:runes.sub_speed.1.threshold|add_str:', +'|add_str:runes.sub_speed.2.threshold|add_str:'</small>' value=runes.sub_speed.0.base|add_str:', '|add_str:runes.sub_speed.1.base|add_str:', '|add_str:runes.sub_speed.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Attack<br /><small>respectively for +'|add_str:runes.sub_atk.0.threshold|add_str:'%, +'|add_str:runes.sub_atk.1.threshold|add_str:'%, +'|add_str:runes.sub_atk.2.threshold|add_str:'%</small>' value=runes.sub_atk.0.base|add_str:', '|add_str:runes.sub_atk.1.base|add_str:', '|add_str:runes.sub_atk.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='HP<br /><small>respectively for +'|add_str:runes.sub_hp.0.threshold|add_str:'%, +'|add_str:runes.sub_hp.1.threshold|add_str:'%, +'|add_str:runes.sub_hp.2.threshold|add_str:'%</small>' value=runes.sub_hp.0.base|add_str:', '|add_str:runes.sub_hp.1.base|add_str:', '|add_str:runes.sub_hp.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Defense<br /><small>respectively for +'|add_str:runes.sub_def.0.threshold|add_str:'%, +'|add_str:runes.sub_def.1.threshold|add_str:'%, +'|add_str:runes.sub_def.2.threshold|add_str:'%</small>' value=runes.sub_def.0.base|add_str:', '|add_str:runes.sub_def.1.base|add_str:', '|add_str:runes.sub_def.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Rate<br /><small>respectively for +'|add_str:runes.sub_crit_rate.0.threshold|add_str:'%, +'|add_str:runes.sub_crit_rate.1.threshold|add_str:'%, +'|add_str:runes.sub_crit_rate.2.threshold|add_str:'%</small>' value=runes.sub_crit_rate.0.base|add_str:', '|add_str:runes.sub_crit_rate.1.base|add_str:', '|add_str:runes.sub_crit_rate.2.base %}
                        {% include 'website/upload/upload_ranking_cell.html' with text='Critical Damage<br /><small>respectively for +'|add_str:runes.sub_crit_dmg.0.threshold|add_str:'%, +'|add_str:runes.sub_crit_dmg.1.threshold|add_str:'%, +'|add_str:runes.sub_crit_dmg.2.threshold|add_str:'%</small>' value=runes.sub_crit_dmg.0.base|add_str:', '|add_str:runes.sub_crit_dmg.1.base|add_str:', '|add_str:runes.sub_crit_dmg.2.base %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>