<button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='system-button'>Scoring System</button>
<button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='score-button'>Profile Score</button>
<button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='monsters-button'>Monsters Comparison</button>
<button class="btn btn-secondary btn-compare" type="button" onclick="changeView(3)" id='runes-button'>Runes Comparison</button>