<button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Scoring System</button>
<button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Profile Score</button>
<button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='view-3-button'>Monsters Comparison</button>
<button class="btn btn-secondary btn-compare" type="button" onclick="changeView(3)" id='view-4-button'>Runes Comparison</button>