{% extends "website/base.html" %}
{% load add_str %}

{% block content_title %}
    Upload profile
{% endblock %}

{% block ajax_container %} 
    <form method="POST" id="profile-upload">
        {% csrf_token %}
        <label for="profile-json" class="btn btn-light profile-json-upload-button">
            <i class="fa fa-cloud-upload"></i> Choose JSON File
        </label>
        <input id="profile-json" name='profile-json-upload-button' type="file" style="display:none;">
        <input type="submit" value="Upload Profile" class="btn btn-secondary">
    </form>
    <p>
        <br /><b>Disclaimer:</b> If you upload your profile on this page, it <b>WILL BE</b> saved in server database. 
        It means that it <b>WILL BE</b> accessible for other people <b>anonymously</b>.
    </p>
    <div id='row'>
        {% csrf_token %}
    </div>
{% endblock %}

{% block jquery %}
<script>
    $('#profile-json').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#profile-json')[0].files[0];
        var name = "Choose JSON File";
        if(file != undefined){ name = file.name; }
        $(this).prev('label').text(name);
    });
    var task_id,  checkDataInterval;

    $("#profile-upload").submit(function(e) {
        $("#row").html("<h1>Uploading file to the server...</h1><div class='loader'>Loading...</div>")
        e.preventDefault();
        var profile = document.getElementById("profile-json").files[0];
        if (profile) {
            function checkData(task_id){
                $.ajax({
                    url: "/upload/profile/" + task_id + "/",
                    type: "GET",
                    success: function(response) {
                        if(response){
                            $('#row').html("<h1>Profile created!</h1>");
                            clearInterval(checkDataInterval);
                        }
                    },
                    error: function(xhr) {
                        $('#row').html("<h2>There was an error while connecting. Please, refresh the page.<br>If error still exists after page refresh, contact <a href='http://reddit.com/u/quatzo'>administrator</a> and give him this: <br><center>{{ task_id }}</center></h2>");
                        clearInterval(checkDataInterval);
                    }
                });
            }

            var reader = new FileReader();
            reader.readAsText(profile, "UTF-8");
            reader.onload = function (evt) {
                $.ajax({
                    url: "{% url 'upload_profile' %}",
                    type: "POST",
                    headers: { "X-CSRFToken": "{{ csrf_token }}" },
                    data: evt.target.result,
                    success: function(response) {
                        $('#row').html("<h1>File sent to the server. Creating profile...<div class='loader'>Loading...</div>");
                        task_id = response.task_id;
                        checkDataInterval = setInterval(function() { checkData(task_id); }, 500);
                    },
                    error: function(xhr) {
                        $('#row').html("<h2>There was an error while connecting. Please, refresh the page.<br>If error still exists after page refresh, contact <a href='http://reddit.com/u/quatzo'>administrator</a> and give him this: <br><center>{{ task_id }}</center></h2>");
                    }
                });
                $('#profile-json').val('');
                $('#profile-json').prev('label').text("Choose JSON File");
            }
        }
    });
</script>
{% endblock %}