{% extends "website/base.html" %}
{% load other %}

{% block custom_script %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/fh-3.1.7/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/fh-3.1.7/datatables.min.js"></script>
{% endblock %}

{% block content_title %}
    Rank & Compare Profile
{% endblock %}

{% block ajax_container %} 
    <div class="alert alert-dismissible fade show alert-compare" style="margin-top: 10px;">
        Report consists of 2 parts:
        <ul>
            <li>
                <b>Scoring system</b> - an 'algorithm', which evaluates quality of your account based on your progression. It takes into account currency,
                buildings, monsters, runes, even your guild rank. After I get enough data, Artifacts will be implemented.
                It shows the overall score and also detailed information. <b>Keep in mind it's early version and scoring may change</b>
            </li>
            <li>
                <b>Direct comparison</b> - it compares every monster and every rune to others of the same type, showing you how good your stats are in comparison to
                average stats and others (i.e. Lushen's ATK higher than average by 233 ATK; TOP 21% Lushen [~21% of Lushens are better than yours])
            </li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form method="POST" id="profile-upload">
        {% csrf_token %}
        <label for="profile-json" class="btn btn-light profile-json-upload-button">
            <i class="fa fa-cloud-upload"></i> Choose JSON File
        </label>
        <input id="profile-json" name='profile-json-upload-button' type="file" style="display:none;">
        <input type="submit" value="Upload Profile" class="btn btn-secondary">
    </form>
    <div class="alert alert-dismissible fade show alert-compare" style="margin-top: 10px;">
        If you upload your profile on this page, it <b>WILL BE</b> saved in server database. 
        It means that its content (monsters, runes etc) <b>WILL BE</b> accessible for other people <b>anonymously</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id='loading'></div>
    <div id='upload-menu'>
        {% include "website/upload/upload_menu.html" %}
    </div>
    <div id='view-1'>
        {% include 'website/upload/upload_ranking_system.html' with points=points %}
    </div>
    <div id='row' style='margin-bottom: 25px;'>
        {% csrf_token %}
    </div>
{% endblock %}

{% block jquery %}
<script>
    $('#profile-json').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#profile-json')[0].files[0];
        var name = "<i class='fa fa-cloud-upload'></i> Choose JSON File";
        if(file != undefined){ name = file.name; }
        $(this).prev('label').text(name);
    });
    var task_id;

    $("#profile-upload").submit(function(e) {
        e.preventDefault();
        var profile = document.getElementById("profile-json").files[0];
        if (profile) {
            function checkData(task_id){
                $.ajax({
                    url: "/upload/profile/" + task_id + "/",
                    type: "GET",
                    success: function(response) {
                        if(response){
                            $('#row').html(response);
                            $('#loading').html('<center><h3>Done! Thanks for using this tool!</h3></center>');
                            changeView(1);
                        }
                        else{
                            setTimeout(checkData, 1000, task_id);
                        }
                    },
                    error: function(xhr) {
                        $('#loading').html("<h2>There was an error while connecting. Please, refresh the page.<br>If error still exists after page refresh, contact <a href='http://reddit.com/u/quatzo'>administrator</a> and give him this: <br><center>" + task_id + "</center></h2>");
                    }
                });
            }

            $('#loading').html("<h1>Sending file to the server...<div class='loader'>Loading...</div>");
            var reader = new FileReader();
            reader.readAsText(profile, "UTF-8");
            reader.onload = function (evt) {
                $.ajax({
                    url: "{% url 'upload_profile' %}",
                    type: "POST",
                    headers: { "X-CSRFToken": "{{ csrf_token }}" },
                    data: evt.target.result,
                    success: function(response) {
                        $('#loading').html("<h1>Creating profile, calculating points and comparing monsters & runes... It may take a while<div class='loader'>Loading...</div>");
                        task_id = response.task_id;
                        checkData(task_id);
                    },
                    error: function(xhr) {
                        $('#loading').html("<h2>There was an error while connecting. Please, refresh the page.<br>If error still exists after page refresh, contact <a href='http://reddit.com/u/quatzo'>administrator</a> and give him this: <br><center>" + task_id + "</center></h2>");
                    }
                });
                $('#profile-json').val('');
                $('#profile-json').prev('label').text("Choose JSON File");
            }
        }
    });
</script>
{% endblock %}