<div class="col-12 col-lg-12" style="padding: 0;" id='ranking-result'>
    {% include 'website/upload/upload_ranking_result.html' with points=points %}
</div>

<div class="col-12 col-lg-12" style="padding: 0;" id='comparison-monsters'>
    {% include 'website/upload/upload_comparison_monsters.html' with monsters=comparison.monsters %}
</div>

<div class="col-12 col-lg-12" style="padding: 0;" id='comparison-runes'>
    {% include 'website/upload/upload_comparison_runes.html' with runes=comparison.runes %}
</div>