{% if value and value != '-' %}
    <td data-order="{{ value }}">{{ value }}{% if percentage %}%{% endif %}</td>
{% else %}
    <td data-order="-1">-</td>
{% endif %}

{% if top and value %}
    <td data-order="{{ top }}">{{ top }}%</td>
{% elif value and value != '-' and not top %}
    <td data-order="-1"><span style='color: #00aa00'>Best</span></td>
{% else %}
    <td data-order="101">-</td>
{% endif %}

{% if not avg  %}
    <td data-order="-1">-</td>
{% elif avg > 0.00 %}
    <td data-order="{{ avg }}"><span style='color: #00aa00'>+{{ avg }}</span></td>
{% elif avg < 0.00 %}
    <td data-order="{{ avg }}"><span style='color: #ff0000'>{{ avg }}</span></td>
{% else %}
    <td data-order="{{ avg }}"> {{ avg }}</td>
{% endif %}