{% load static %}
{% load monsters %}

<div class="col-12 col-sm-5 rank">
    <div class="card">
        <div class="card-header dungeon-header">
            <img class="dungeon-header-img" src={% static 'website/images/monsters/'|get_monster_avatar:card.base_monster %} />
            {{ card.base_monster }} 
            <span class="homunculus-card-link">
                <a href="{% url 'homunculus_by_base' base=card.base_monster.id %}" style="position: relative; float: right;">More</a>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-6"><b>Quantity</b></div>
                <div class="col-6 col-sm-6"> {{ card.quantity|default:"0" }} </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Different Builds</b></div>
                <div class="col-6 col-sm-6"> {{ card.builds_quantity|default:"0" }} </div>
            </div>
        </div>
    </div>
</div>