body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.navbar-brand{
    height: 50px;
}

.content h2{
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
}

.content h2 span{
    padding-right: 1em;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.navbar a{
    cursor: default;
}

.navbar a svg{
    float: right;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.sidebar-sticky {
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}


.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    display: flex;
}

.navbar-nav{
    display: -webkit-inline-box !important;
}

.navbar-nav .nav-item{
    padding-left: 4em;
}

.carousel-caption{
    position: absolute;
    margin: auto;
}

.carousel-caption h5{
    font-size: 3rem;
}
.carousel-caption p{
    font-size: 1.25rem;
    height: 50%;
}

.carousel-caption .btn:hover a{
    color: #1f1f1f;
}

.carousel-caption a{
    text-decoration: none;
    color: #f1f1f1;
}

.navbar.toggled .navbar-brand{
    max-width: 80px;
    min-width: 80px;
}

.sidebar.toggled{
    max-width: 80px;
    min-width: 80px;
}

.navbar.toggled .text,
.sidebar.toggled .text
{
    display: none;
}

.sidebar.toggled .feather{
    width: 35px;
    height: 35px;
    font-size: 35px;
    margin-right: 10px;
}

.sidebar.toggled ~ [role="main"] {
    max-width: calc(100% - 80px);
    flex: 0 0 calc(100% - 80px);
}

@media (max-width: 768px) {
    [role="main"],
    .sidebar.toggled ~ [role="main"]
    {
        margin: 0 !important;
    }

    .sidebar.toggled{
        max-width: 80px;
        min-width: 80px;
    }
}

.title .btn{
    float: right;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    color: #ededed;
}

.title .btn:hover{
    background-color: #007bff;
    border-color: #007bff;
}