body {
    font-size: .875rem;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 300;
}

td{
    vertical-align: middle !important;
}

.feather {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}

.menu-img{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.navbar-brand{
    height: 50px;
}

.content h2{
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
}

.content h2 span{
    padding-right: 1em;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.navbar a{
    cursor: default;
}

.navbar a img{
    float: right;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.sidebar-sticky {
    position: fixed;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    color: #333;
    padding: 0;
    padding-top: .75em;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar .nav-link.active .feather.custom{
    stroke: #007bff;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar-heading span{
    margin: auto;
}

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    display: flex;
}

.navbar-nav{
    display: -webkit-inline-box !important;
}

.sidebar .nav-item{
    padding-left: 1vw;
}

.sidebar.toggled .nav-item{
    padding-left: 0;
    margin: auto;
}

.navbar .navbar-brand,
.sidebar
{
    min-width: 250px;
    width: 250px !important;
    max-width: 250px;
}

.navbar.toggled .navbar-brand,
.sidebar.toggled
{
    max-width: 80px;
    min-width: 80px;
}

.navbar.toggled a img{
    display: block;
    margin: auto;
    float: unset;
}

.navbar.toggled .text,
.sidebar.toggled .text
{
    display: none;
}

.sidebar.toggled .feather{
    width: 35px;
    height: 35px;
    font-size: 35px;
}

.sidebar ~ [role="main"] {
    max-width: calc(100% - 250px);
    flex: 0 0 calc(100% - 250px);
}

.sidebar.toggled ~ [role="main"] {
    max-width: calc(100% - 80px);
    flex: 0 0 calc(100% - 80px);
}

/*          NAV-, SIDE-BAR END       */
/*          CONTENT START            */

.content{
    max-width: 1500px;
    margin: auto;
}

.card-custom{
    border-radius: 7px;
    background-color: #343a40;
    color: #ffffff;
    min-height: 250px;
    margin-bottom: 50px;
}

.card-custom h5{
    padding-top: 5px;
}

.card-custom a,
.card-custom a:hover,
.card-custom a:active,
.card-custom a:link,
.card-custom a:visited
{
    text-decoration: none;
    color: #ffffff;
}

.card-custom-header{
    background-color: rgba(0, 0, 0, .25);
    border-radius: 7px 7px 0 0;
    text-align: center;
    padding: 10px;
    height: 50px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.card-custom-header b{
    text-transform: capitalize;
}

.card-custom-body{
    min-height: 200px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.card-custom.big{
    min-height: 600px;
}
.card-custom.big .card-custom-body{
    min-height: 550px;
    text-align: justify;
    padding: 25px;
}

.card-custom.short{
    min-height: 100px;
    height: 100px;
}
.card-custom.short .card-custom-body{
    min-height: 50px;
    height: 50px;
}

.card-custom select{
    width: 100%;
    padding: 8px 10px;
}

.card-custom.short .card-custom-body.number{
    display: block;
}

.card-custom.short .card-custom-body.number input[type=number]{
    width: 45%;
}

.card-custom.disclaimer{
    min-height: 100px;
}

.card-custom.disclaimer .card-custom-body{
    min-height: unset;
}

.card-custom.bordered{
    border: 1px solid rgba(0, 0, 0, .25);
}

.card-custom.standard{
    text-align: initial;
}

.card-custom-body.standard{
    display: block;
    text-align: initial;
}

.card-custom-body .rune-prim{
    display: flex;
}

.card-custom-body .rune-stats{
    margin-left: 10px;
}

.card-custom-body .rune-substats,
.card-custom-body .rune-info
{
    margin-top: 10px;
}

.card-custom-body .rune-info{
    position: relative;
    bottom: 0;
}

.card-custom-body .substat{
    color: #cdb775;
}

.title-container{
    overflow: auto;
}

.title-container .title{
    display: inline-block;
}

.title-container .btn{
    float: right;
    background-color: #343a40;
    border-color: #343a40;
    color: #ededed;
}

.title-container .btn:hover{
    background-color: #007bff;
    border-color: #007bff;
}

tr.orig-quality-Legend,
tr.orig-quality-Ancient.Legend
{
    background-color: rgb(255, 173, 73, .25);
}

tr.orig-quality-Hero,
tr.orig-quality-Ancient.Hero
{
    background-color: rgb(255, 0, 255, .25);
}

tr.orig-quality-Rare,
tr.orig-quality-Ancient.Rare
{
    background-color: rgb(0, 0, 255, .25);
}

tr.orig-quality-Magic,
tr.orig-quality-Ancient.Magic
{
    background-color: rgb(0, 255, 0, .25);
}

.chart{
    width: 100%;
    height: 25vh;
    min-height: 180px;
    display: flex;
}

.chart-2{
    width: 45%;
    height: 25vh;
    min-height: 180px;
}

.chart-2.right{
    margin-left: 10%;
}

h2.title,
h1.h2
{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none
}

.rank{
    min-height: 10vh;
    padding: 15px 0;
}

.rank .card{
    height: 100%;
}

.rune-background{
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
}

.rune-border-Legend{
    border-color: rgb(255, 173, 73, .75);
}
.rune-border-Hero{
    border-color: rgb(255, 0, 255, .75);
}

.rune-border-Rare{
    border-color: rgb(0, 0, 255, .75);
}

.rune-border-Magic{
    border-color: rgb(0, 255, 0, .75);
}
.rune-border-White,
.rune-border-Unknown
{
    border-color: rgb(0, 0, 0, .75);
}

.rune-background{
    background-repeat: no-repeat;
    background-position: center;
}
.rune-background.Legend{
    background-image: url('/static/website/images/runes/bg_legend.png');
}

.rune-background.Hero{
    background-image: url('/static/website/images/runes/bg_hero.png');
}

.rune-background.Rare{
    background-image: url('/static/website/images/runes/bg_rare.png');
}

.rune-background.Magic{
    background-image: url('/static/website/images/runes/bg_magic.png');
}

.rune-background.Magic{
    background-image: url('/static/website/images/runes/bg_normal.png');
}

.rune-slot1{
    background-image: url('/static/website/images/runes/rune1.png');
    background-repeat: no-repeat;
    background-size: auto 45px;
    height: 45px;
    position: relative;
    left: 5px;
}

.rune-slot1 img{
    position: relative;
    width: 35px;
    top: 10px;
    left: 1px;
}

.rune-slot2{
    background-image: url('/static/website/images/runes/rune2.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 45px auto;
    top: 5px;
}

.rune-slot2 img,
.rune-slot3 img
{
    position: relative;
    width: 35px;
    left: 2px;
}

.rune-slot3{
    background-image: url('/static/website/images/runes/rune3.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 45px auto;
    top: 5px;
}

.rune-slot4{
    background-image: url('/static/website/images/runes/rune4.png');
    background-repeat: no-repeat;
    background-size: auto 45px;
    height: 45px;
    position: relative;
    left: 5px;
}

.rune-slot4 img{
    position: relative;
    width: 35px;
    left: 1px;
}

.rune-slot5{
    background-image: url('/static/website/images/runes/rune5.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 45px auto;
    top: 5px;
}

.rune-slot5 img,
.rune-slot6 img
{
    position: relative;
    width: 35px;
    left: 6px;
}

.rune-slot6{
    background-image: url('/static/website/images/runes/rune6.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 45px auto;
    top: 5px;
}

.table-monster-href:hover{
    text-decoration: none;
}

.table-monster-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.table-monster-avatar-min{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.card-body.inner{
    padding: 0;
    flex: none;
}

.card-body.inner div{
    margin: 0;
}

.dungeon-header{
    padding: 0 !important;
}

.dungeon-header-img{
    border-top-left-radius: inherit;
}

.img-center{
    display: block;
    margin: auto;
    max-width: 100%;
}

.profile-json-upload-button {
    border: 1px solid #1112 !important;
    height: 100% !important;
    margin-bottom: 0;
}

.building-done{
    background-color: rgba(255, 0, 0, 0.35);
}

.calc-input{
    width: 100%;
}

.homunculus-card-link{
    position: relative; 
    float: right; 
    top: 40%;
    right: 10px;
}

.old-report-image{
    width: 100%;
}

.row.cards{
    visibility: hidden;
}

.btn-primary.left{
    float: left;
    margin: 2px;
}

.report-button{
    width: 100%;
    height: 735px;
}

#upload-menu,
.content-menu
{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

#upload-menu button,
.content-menu button
{
    border-radius: 0;
    width: 300px;
    min-width: 150px;
}

#upload-menu button:first-child,
.content-menu button:first-child
{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

#upload-menu button:last-child,
.content-menu button:last-child
{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.comparison-table,
.comparison-table table
{
    max-height: 750px;
}

.comparison-table th{
    border: 1px solid #dee2e6 !important; 
    vertical-align: middle !important; 
    text-align: center;
    background-color: white;
}
  
.comparison-table tbody tr td:first-child,
.comparison-table tbody tr td.second
{
    background-color: rgba(0, 0, 0, .15);
}

.comparison-table tbody tr td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: -1px;
}

.comparison-table tbody tr td.second {
    position: -webkit-sticky;
    position: sticky;
    left: 79px;
}

.comparison-table thead th.first:first-child
{
    position: -webkit-sticky;
    position: sticky;
    left: -1px;
    z-index: 1;
}
.comparison-table thead th.first.double
{
    position: -webkit-sticky;
    position: sticky;
    left: 79px;
    z-index: 1;
}

.comparison-table .page-link,
.comparison-table .page-link:hover
{
    color: #6c757d !important;
}

.comparison-table .page-item.active .page-link{
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: #fff !important;
}


/* Loading Spinner */
#secs{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    left: 49.5%;
    font-size: 20px;
}

.loader,
.loader:before,
.loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/* /////// /////// */
@media (max-width: 992px){
    .card .border-right.ranking-header{
        border-right: none!important;
    }
}

@media (max-width: 768px) {
    #upload-menu,
    .content-menu
    {
        display: block;
        margin-bottom: 25px;
    }

    #upload-menu button,
    .content-menu button
    {
        width: 100%;
    }
    
    #upload-menu button:first-child,
    .content-menu button:first-child
    {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0;
    }

    #upload-menu button:last-child,
    .content-menu button:last-child
    {
        border-top-right-radius: 0;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .card-custom{
        margin-bottom: 10px;
    }

    .card-custom.big{
        min-height: 300px;
    }
    .card-custom.big .card-custom-body{
        min-height: 250px;
    }

    .report-button{
        height: 40vh;
    }
    .navbar.toggled .navbar-brand{
        max-width: 100%;
        min-width: 100%;
    }
    .navbar.toggled .text{
        display: unset;
    }
    .navbar .navbar-brand,
    .sidebar
    {
        min-width: 100%;
        width: 100% !important;
        max-width: 100%;
        position: unset;
    }

    .navbar.toggled a img{
        display: unset;
        margin: unset;
        float: right;
    }

    .sidebar ~ [role="main"],
    .sidebar.toggled ~ [role="main"]
    {
        margin: 0 !important;
        max-width: 100%;
        flex: 100%;
    }

    .sidebar.toggled,
    .sidebar ~ [role="main"]
    {
        display: none;
    }

    .sidebar.toggled ~ [role="main"]
    {
        display: unset;
    }

    .sidebar-sticky{
        height: unset;
    }

    .homunculus-card-link{
        position: relative; 
        float: left;
        top: unset;
        right: unset;
    }
}