{% load static %}
{% load add_str %}
{% load ancient_to_normal %}
{% load get_monster_avatar %}
{% load get_attribute_avatar %}
{% load get_star_avatar %}
{% load get_star_base_avatar %}
{% load get_sets %}

<div class="col-12 col-sm-6 rank">
    <div class="card">
        <div class="card-header" onClick="goToMonster('{% url "monster_by_id" arg_id=monster.id %}')" style="cursor: pointer;">
            {{ name }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-6"><b>Family</b></div>
                <div class="col-6 col-sm-6"> {{ monster.base_monster.family }} </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Base Monster</b></div>
                <div class="col-6 col-sm-6"> 
                    <a href="{% url 'monster_by_id' arg_id=monster.id %}" class="table-monster-href">
                        <img src="{% static 'website/images/monsters/'|get_monster_avatar:monster.base_monster %}" class="table-monster-avatar"/>
                    </a> 
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Stars</b></div>
                <div class="col-6 col-sm-6"> 
                    {% with ''|center:monster.stars as range %}
                        {% for _ in range %}
                            <img src="{% static 'website/images/stars/'|get_star_avatar:monster %}" class="table-monster-avatar-min"/>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Base Class</b></div>
                <div class="col-6 col-sm-6">
                    {% with ''|center:monster.base_monster.base_class as range %}
                        {% for _ in range %}
                            <img src="{% static 'website/images/stars/'|get_star_base_avatar:monster %}" class="table-monster-avatar-min"/>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Type</b></div>
                <div class="col-6 col-sm-6"> {{ monster.base_monster.get_archetype_display }} </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Attribute</b></div>
                <div class="col-6 col-sm-6"> 
                    <img src="{% static 'website/images/attributes/'|get_attribute_avatar:monster %}" class="table-monster-avatar-min"/>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Level</b></div>
                <div class="col-6 col-sm-6"> {{ monster.level }} </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Runes Efficiency</b></div>
                <div class="col-6 col-sm-6"> {{ monster.avg_eff|add_str:"%" }}</div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Runes</b></div>
                <div class="col-6 col-sm-6"> 
                    {% if rta_runes %}
                        {% for rune in rta_runes %}
                            <a href="{% url 'rune_by_id' arg_id=rune.id %}" style="text-decoration: none;">
                                <div class="{{"rune-background "|add_str:rune.get_quality_display|ancient_to_normal }} {{ "rune-border-"|add_str:rune.get_quality_original_display|ancient_to_normal }}" >
                                    <div class="{{ "rune-slot"|add_str:rune.slot }}">
                                        <div class="rune">
                                            <img src="{% static 'website/images/runes/'|add_str:rune.rune_set|lower|add_str:".png" %}" />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %} 
                    {% else %}
                        {% for rune in monster.runes.all %}
                            <a href="{% url 'rune_by_id' arg_id=rune.id %}" style="text-decoration: none;">
                                <div class="{{"rune-background "|add_str:rune.get_quality_display|ancient_to_normal }} {{ "rune-border-"|add_str:rune.get_quality_original_display|ancient_to_normal }}" >
                                    <div class="{{ "rune-slot"|add_str:rune.slot }}">
                                        <div class="rune">
                                            <img src="{% static 'website/images/runes/'|add_str:rune.rune_set|lower|add_str:".png" %}" />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %} 
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Rune Sets</b></div>
                <div class="col-6 col-sm-6">
                    {% if monster.runes.count > 0%}
                        {% with monster.runes.all|get_sets as sets %}
                            {% if not sets %}
                                Full Broken
                            {% else %}
                                {% for set in sets %}
                                    <img src="{% static 'website/images/runes/'|add_str:set|lower|add_str:".png" %}" class="table-monster-avatar" />
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <span data-feather="slash" style="color: red;"></span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Artifacts</b></div>
                <div class="col-6 col-sm-6">
                    {% if monster.artifacts.count %}
                        {{ monster.artifacts.count }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6"><b>Recommendation text ({{ monster.base_monster.recommendation_votes }} votes)</b></div>
                <div class="col-6 col-sm-6"> {{ monster.base_monster.recommendation_text }} </div>
            </div>
        </div>
    </div>
</div>

<script>
    function goToMonster(href){
        document.location.href = document.location.origin + href;
    }
</script>