{% extends "website/base.html" %}

{% block content_title %}
	{{ monster }}
{% endblock %}

{% block jquery %}
    <script>
        function fetchData(){
            $.ajax({
                url: "{% url 'monster_by_id_ajax' task_id=task_id arg_id=arg_id %}",
                type: "GET",
                success: function(response) {
                    seconds += .5;
                    $('#secs').text(seconds);
                    if(response){
                        $('#content-ajax-container').html(response);
                    }
                    else if (seconds == 60){
                        $('#content-ajax-container').html("{% include 'website/error_timeout.html' with task_id=task_id %}");
                    }
                    else{
                        setTimeout(fetchData, 500);
                    }
                },
                error: function(xhr) {
                    $('#content-ajax-container').html("{% include 'website/error.html' with task_id=task_id %}");
                }
            });
        }
        var seconds = 0;
        fetchData();
    </script>
{% endblock %}