{% load static %}
{% load other %}
{% load monsters %}
{% load dungeons %}

<div class='content'>
    <div class='content-menu'>
        <button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Summary</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Similar</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='view-3-button'>Similar RTA</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(3)" id='view-4-button'>Records</button>
    </div>
	<div id='view-1'>
		<div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                Each place is determined by using only monsters of the same base type ({{ monster.base_monster.name }})
            </div>
        </div>

		<div class='rune-content'>
			<div class='monster-card-compressed'>
				{% include 'website/monsters/monster_card_compressed.html' with monster=monster rta_runes=rta_runes %}
			</div>
			<div class='row ranks'>
				{% include "website/monsters/monster_card.html" with header='Efficiency [%]' rank=ranks.avg_eff_total value=monster.avg_eff_total eff=True %}
				{% include "website/monsters/monster_card.html" with header='HP' rank=ranks.hp value=monster.hp %}
				{% include "website/monsters/monster_card.html" with header='Attack' rank=ranks.attack value=monster.attack %}
				{% include "website/monsters/monster_card.html" with header='Defense' rank=ranks.defense value=monster.defense %}
				{% include "website/monsters/monster_card.html" with header='Speed' rank=ranks.speed value=monster.speed %}
				{% include "website/monsters/monster_card.html" with header='Resistance [%]' rank=ranks.res value=monster.res percentage=True %}
				{% include "website/monsters/monster_card.html" with header='Accuracy [%]' rank=ranks.acc value=monster.acc percentage=True %}
				{% include "website/monsters/monster_card.html" with header='Critical Rate [%]' rank=ranks.crit_rate value=monster.crit_rate percentage=True %}
				{% include "website/monsters/monster_card.html" with header='Critical Damage [%]' rank=ranks.crit_dmg value=monster.crit_dmg percentage=True %}
				{% include "website/monsters/monster_card.html" with header='Effective HP' rank=ranks.eff_hp value=monster.eff_hp %}
			</div>
		</div>
	</div>
    <div id='view-2' style='display: none;'>
		<div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                This page shows up to 50 randomly chosen {{ monster.base_monster.name }} builds. Every card is clickable and will redirect to other monster.
            </div>
        </div>
		
		<div class='row'>
			{% for similar in similar_monsters %}
				<div class='col-12 col-md-3'>
					{% include 'website/monsters/monster_card_compressed.html' with monster=similar deep=False %}
				</div>
			{% endfor %}
		</div>
    </div>
    <div id='view-3' style='display: none;'>
        <div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                This page shows up to 50 randomly chosen {{ monster.base_monster.name }} with RTA builds. Every card is clickable and will redirect to other monster.
            </div>
        </div>
		
		<div class='row'>
			{% for similar, r_runes in rta_similar.items %}
				<div class='col-12 col-md-3'>
					{% include 'website/monsters/monster_card_compressed.html' with monster=similar deep=False rta_runes=r_runes %}
				</div>
			{% endfor %}
		</div>
    </div>    
</div>

<script>
    $(document).ready(function () {
        $('.tip').each(function () {
            $(this).tooltip(
            {
                html: true,
				placement: 'top',
                title: $('#' + $(this).data('tip')).html()
            });
        });
		$(this).data('bs.tooltip').config.placement = 'top';// For dynamic position
  		$(this).data('bs.tooltip').config.boundary= 'top'; // Used for tooltip boundary range
    });
</script>