{% load static %}
{% load other %}
{% load runes %}
{% load monsters %}

<div class='card-custom bordered standard'  onClick="moveTo('{% url 'monster_by_id' arg_id=monster.id %}')" style='cursor: pointer;'>
    <div class='card-custom-header'>
        {{ monster.base_monster.name }}{% if rta_runes %} (RTA Build){% endif %}
    </div>
    <div class='card-custom-body standard'>
        <div class='monster-info'>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Base Monster</div>
                <img src="{% static 'website/images/monsters/'|get_monster_avatar:monster.base_monster %}" class="table-monster-avatar-min" style="cursor: initial;" />
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Level</div>
                {{ monster.level }}
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>HP</div>
                {{ monster.hp }}
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Attack</div>
                {{ monster.attack }}
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Defense</div>
                {{ monster.defense }}
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Speed</div>
                {{ monster.speed }}
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Critical Rate</div>
                {{ monster.crit_rate }}
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Critical Damage</div>
                {{ monster.crit_dmg }}
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Resistance</div>
                {% if monster.res >= 100 %}<span class='#ff0000'>{{ monster.res }}</span>{% else %}{{ monster.res }}{% endif %}<br />
            </div>
            <div class='monster-info-row'>
                <div class='substat width-min-200'>Accuracy</div>
                {% if monster.acc >= 100 %}<span class='#ff0000'>{{ monster.acc }}</span>{% else %}{{ monster.acc }}{% endif %}<br />
            </div>            
        </div>

        <div class='monster-runes'>
            {% if not deep %}
                <div class='monster-runes-row'>
                    <div class='substat width-min-200'>Runes</div> 
                    <div class='flex-right'>
                        {% for rune in monster.runes.all %}
                            <a href="{% url 'rune_by_id' arg_id=rune.id %}" style="text-decoration: none;">
                                <div class="{{"rune-background "|add_str:rune.get_quality_display|ancient_to_normal }} {{ "rune-border-"|add_str:rune.get_quality_original_display|ancient_to_normal }} {% if not deep %}tip{% endif %}" {% if not deep %}data-tip="rune-{{ rune.id }}"{% endif %}>
                                    <div class="{{ "rune-slot"|add_str:rune.slot }}">
                                        <div class="rune">
                                            <img src="{% static 'website/images/runes/'|add_str:rune.rune_set|lower|add_str:".png" %}" />
                                        </div>
                                    </div>
                                </div>
                                {% if not deep %}
                                    <div id="rune-{{ rune.id }}" class="tip-content" style='display: none;'>
                                        {% include "website/runes/rune_card_compressed.html" with rune=rune deep=True %}
                                    </div>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class='monster-runes-row'>
                <div class='substat width-min-200'>Sets</div> 
                <div class='flex-right'>
                    {% if monster.runes.count > 0 %}
                            {% with monster.runes.all|get_sets as sets %}
                                {% for set in sets %}
                                    <img src="{% static 'website/images/runes/'|add_str:set|lower|add_str:".png" %}" class="table-monster-avatar-min" />
                                {% endfor %}
                            {% endwith %}
                    {% else %}
                        Broken
                    {% endif %}
                </div>
            </div>
            <div class='monster-runes-row'>
                <div class='substat width-min-200'>Artifacts</div>
                <div class='flex-right'> 
                    {% if monster.artifacts.count %}
                        {% for artifact in monster.artifacts.all %}
                                <a href="{% url 'artifact_by_id' arg_id=artifact.id %}">
                                    {% if artifact.rtype == 1 %}
                                        <img src="{% static 'website/images/artifacts/artifact_'|add_str:artifact.get_attribute_display|lower|add_str:".png" %}" class="table-monster-avatar-min" />
                                    {% else %}
                                        <img src="{% static 'website/images/artifacts/artifact_'|add_str:artifact.get_archetype_display|lower|add_str:".png" %}" class="table-monster-avatar-min" />
                                    {% endif %}
                                </a>
                            {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>

            {% if rta_runes %}
                {% if not deep %}
                    <div class='monster-runes-row'>
                        <div class='substat width-min-200'>RTA Runes</div>
                        <div class='flex-right'>
                            {% for rune in rta_runes %}
                                <a href="{% url 'rune_by_id' arg_id=rune.id %}" style="text-decoration: none;">
                                    <div class="{% if not deep %}tip{% endif %} {{'rune-background '|add_str:rune.get_quality_display|ancient_to_normal }} {{ 'rune-border-'|add_str:rune.get_quality_original_display|ancient_to_normal }}" {% if not deep %}data-tip="rune-{{ rune.id }}"{% endif %}>
                                        <div class="{{ "rune-slot"|add_str:rune.slot }}">
                                            <div class="rune">
                                                <img src="{% static 'website/images/runes/'|add_str:rune.rune_set|lower|add_str:".png" %}" />
                                            </div>
                                        </div>
                                    </div>
                                    {% if not deep %}
                                        <div id="rune-{{ rune.id }}" class="tip-content" style='display: none;'>
                                            {% include "website/runes/rune_card_compressed.html" with rune=rune deep=True %}
                                        </div>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class='monster-runes-row'>
                    <div class='substat width-min-200'>RTA Sets</div> 
                    <div class='flex-right'>
                        {% if rta_runes|length > 0 %}
                            {% with rta_runes|get_sets as sets %}
                                {% for set in sets %}
                                    <img src="{% static 'website/images/runes/'|add_str:set|lower|add_str:".png" %}" class="table-monster-avatar-min" />
                                {% endfor %}
                            {% endwith %}
                        {% else %}
                            Broken
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>