{% load other %}
{% load monsters %}
{% if is_filter %}<h3>Filters: {{ filters }}</h3>{% endif %} 

<div class='content'>
    <div class='content-menu'>
        <button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Filters</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Charts</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='view-3-button'>TOP</button>
    </div>
    <form method="GET" action="{% url 'monsters' %}">
        <div id='view-1'>
            <div class='row'>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Family</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='family'>
                                <option value='0'></option>
                                {% for family in filter_options.families %}
                                    <option value='{{ family|space_to_ }}' {% if 'family' in request.keys and request.family.0 == family|space_to_ %}selected{% endif %}>{{ family }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Element</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='attribute'>
                                <option value='0'></option>
                                {% for element in filter_options.elements %}
                                    <option value='{{ element }}' {% if 'attribute' in request.keys and request.attribute.0 == element %}selected{% endif %}>{{ element }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Archetype</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='archetype'>
                                <option value='0'></option>
                                {% for archetype in filter_options.archetypes %}
                                    <option value='{{ archetype }}' {% if 'archetype' in request.keys and request.archetype.0 == archetype %}selected{% endif %}>{{ archetype }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Stars</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='stars'>
                                <option value='0'></option>
                                {% for star in filter_options.stars %}
                                    <option value='{{ star }}' {% if 'stars' in request.keys and request.stars.0 == star|slugify %}selected{% endif %}>{{ star }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Natural Stars</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='base_class'>
                                <option value='0'></option>
                                {% for star in filter_options.stars_natural %}
                                    <option value='{{ star }}' {% if 'base_class' in request.keys and request.base_class.0 == star|slugify %}selected{% endif %}>{{ star }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Average Efficiency</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='eff_min' min="0" max="150" value="{% if 'eff_min' in request.keys %}{{ request.eff_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='eff_max' min="0" max="150" value="{% if 'eff_max' in request.keys %}{{ request.eff_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>HP</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='hp_min' min="0" max="70000" value="{% if 'hp_min' in request.keys %}{{ request.hp_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='hp_max' min="0" max="70000" value="{% if 'hp_max' in request.keys %}{{ request.hp_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Attack</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='atk_min' min="0" max="10000" value="{% if 'atk_min' in request.keys %}{{ request.atk_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='atk_max' min="0" max="10000" value="{% if 'atk_max' in request.keys %}{{ request.atk_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Defense</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='def_min' min="0" max="10000" value="{% if 'def_min' in request.keys %}{{ request.def_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='def_max' min="0" max="10000" value="{% if 'def_max' in request.keys %}{{ request.def_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Speed</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='spd_min' min="0" max="1000" value="{% if 'spd_min' in request.keys %}{{ request.spd_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='spd_max' min="0" max="1000" value="{% if 'spd_max' in request.keys %}{{ request.spd_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Resistance</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='res_min' min="0" max="300" value="{% if 'res_min' in request.keys %}{{ request.res_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='res_max' min="0" max="300" value="{% if 'res_max' in request.keys %}{{ request.res_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Accuracy</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='acc_min' min="0" max="300" value="{% if 'acc_min' in request.keys %}{{ request.acc_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='acc_max' min="0" max="300" value="{% if 'acc_max' in request.keys %}{{ request.acc_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Critical Rate</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='crit_rate_min' min="0" max="300" value="{% if 'crit_rate_min' in request.keys %}{{ request.crit_rate_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='crit_rate_max' min="0" max="300" value="{% if 'crit_rate_max' in request.keys %}{{ request.crit_rate_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Critical Damage</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='crit_dmg_min' min="0" max="1000" value="{% if 'crit_dmg_min' in request.keys %}{{ request.crit_dmg_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='crit_dmg_max' min="0" max="1000" value="{% if 'crit_dmg_max' in request.keys %}{{ request.crit_dmg_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Effective HP</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='eff_hp_min' min="0" max="1000000" value="{% if 'eff_hp_min' in request.keys %}{{ request.eff_hp_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='eff_hp_max' min="0" max="1000000" value="{% if 'eff_hp_max' in request.keys %}{{ request.eff_hp_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-3 col-xl-2'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>E. HP w/ Def Break</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='eff_hp_def_min' min="0" max="1000000" value="{% if 'eff_hp_def_min' in request.keys %}{{ request.eff_hp_def_min.0 }}{% else %}{% endif %}"/>
                            -
                            <input type='number' name='eff_hp_def_max' min="0" max="1000000" value="{% if 'eff_hp_def_max' in request.keys %}{{ request.eff_hp_def_max.0 }}{% else %}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Hall of Heroes</h5>
                        </div>
                        <div class='card-custom-body' style='flex-direction: row; justify-content: space-evenly;'>
							<div><input type='radio' name='hoh' value='False' {% if 'hoh' in request.keys and request.hoh.0 == 'False' %}checked{% endif %}>No</div>
							<div><input type='radio' name='hoh' value='True' {% if 'hoh' in request.keys and request.hoh.0 == 'True' %}checked{% endif %}>Yes</div>
							<div><input type='radio' name='hoh' value='0' {% if 'hoh' not in request.keys or request.hoh.0 == '0'%}checked{% endif %}>Both</div>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Storage</h5>
                        </div>
                        <div class='card-custom-body' style='flex-direction: row; justify-content: space-evenly;'>
							<div><input type='radio' name='storage' value='False' {% if 'storage' in request.keys and request.storage.0 == 'False' %}checked{% endif %}>No</div>
							<div><input type='radio' name='storage' value='True' {% if 'storage' in request.keys and request.storage.0 == 'True' %}checked{% endif %}>Yes</div>
							<div><input type='radio' name='storage' value='0' {% if 'storage' not in request.keys or request.storage.0 == '0'%}checked{% endif %}>Both</div>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Fusion</h5>
                        </div>
                        <div class='card-custom-body' style='flex-direction: row; justify-content: space-evenly;'>
							<div><input type='radio' name='fusion' value='False' {% if 'fusion' in request.keys and request.fusion.0 == 'False' %}checked{% endif %}>No</div>
							<div><input type='radio' name='fusion' value='True' {% if 'fusion' in request.keys and request.fusion.0 == 'True' %}checked{% endif %}>Yes</div>
							<div><input type='radio' name='fusion' value='0' {% if 'fusion' not in request.keys or request.fusion.0 == '0'%}checked{% endif %}>Both</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class='btn btn-secondary btn-compare active' type="submit" style='width: 100%;'>Filter</button>
        </div>
    </form>
    <div id='view-2' class='row' style='display: none;'>
        {% include "website/monsters/charts/monster_chart_over_time.html" with timeline=time_timeline count=time_count %}
        {% include "website/monsters/charts/monster_chart_group_by_family.html" with name=family_name count=family_count color=family_color %}

        <div class='chart'>
            <!-- Monsters Grouped By Attribute -->
            {% include "website/monsters/charts/monster_chart_group_by_attribute.html" with name=attribute_name color=attribute_color count=attribute_count class='chart-2' %}

            <!-- Monsters Grouped By Type -->
            {% include "website/monsters/charts/monster_chart_group_by_type.html" with name=type_name color=type_color count=type_count class='chart-2 right' %}
        </div>

        <div class='chart'>
            <!-- Monsters Grouped By Base Class -->
            {% include "website/monsters/charts/monster_chart_group_by_base_class.html" with number=base_class_number color=base_class_color count=base_class_count class='chart-2' %}

            <!-- Monsters Grouped By Storage -->
            {% include "website/monsters/charts/monster_chart_group_by_storage.html" with value=storage_value color=storage_color count=storage_count class='chart-2 right' %}
        </div>

        <div class='chart'>
            <!-- Monsters Grouped By Hall of Heroes -->
            {% include "website/monsters/charts/monster_chart_group_by_hoh.html" with value=hoh_value color=hoh_color count=hoh_count class='chart-2' %}

            <!-- Monsters Grouped By Fusion -->
            {% include "website/monsters/charts/monster_chart_group_by_fusion.html" with value=fusion_value color=fusion_color count=fusion_count class='chart-2 right' %}
        </div>
    </div>
    <div id='view-3' style='display: none;'>
        <div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                Every Header, Card & Monster Avatar is clickable and will redirect you to other page (i.e. Specific Rune Page) or hide/show content here.   
            </div>
        </div>

        <div class='card-custom' style='min-height: 100px;'>
            <div class="card-custom-header">
                <h5 data-toggle="collapse" data-target="#best_monsters" aria-expanded="true" aria-controls="best_monsters">Top 50 Monsters (efficiency-wise)</h5>
            </div>
            <div id='best_monsters' class='card-custom-body collapse show'>
                <div class='row'>
                    {% for monster in best_monsters %}
                        <div class='col-12 col-md-6 col-lg-4 col-xl-3'>
                            {% include 'website/monsters/monster_card_compressed.html' with monster=monster deep=False %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class='card-custom' style='min-height: 100px;'>
            <div class="card-custom-header">
                <h5 data-toggle="collapse" data-target="#fastest_monsters" aria-expanded="true" aria-controls="fastest_monsters">Fastest 50 Monsters (total speed)</h5>
            </div>
            <div id='fastest_monsters' class='card-custom-body collapse show'>
                <div class='row'>
                    {% for monster in fastest_monsters %}
                        <div class='col-12 col-md-6 col-lg-4 col-xl-3'>
                            {% include 'website/monsters/monster_card_compressed.html' with monster=monster deep=False %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
    function ajaxTooltip(el_id, el_type, tooltip_id, el){
        var prefix = '#' + el_type + '-'
        if(!$(prefix + tooltip_id).html().includes('Loading')){
            return;
        }
        var url_mask = "{% url 'object_card' obj_type='a' obj_id=1 %}".replace('a', el_type.toString()).replace('1', el_id.toString());
        $.ajax({
            url: url_mask,
            type: "GET",
            success: function(response) {
                $(prefix + tooltip_id).html(response)
                $(el).attr("data-original-title", response).tooltip('show');
            },
            error: function(xhr) {
                $('#content-ajax-container').html("{% include 'website/error.html' with task_id='' %}");
            }
        });
    }
    
    $(document).ready(function () {
        $('.tip').each(function () {
            $(this).tooltip(
            {
                html: true,
				placement: 'top',
                title: $('#' + $(this).data('tip')).html()
            });
        });
		$(this).data('bs.tooltip').config.placement = 'top';// For dynamic position
  		$(this).data('bs.tooltip').config.boundary= 'top'; // Used for tooltip boundary range
    });
</script>