{% load monsters %}
{% if value %}
    <div class="col-12 col-md-4">
        <div class="card-custom disclaimer standard">
            <div class="card-custom-header">
                {{ header }}
            </div>
            <div class="card-custom-body standard">
                {% if eff %}
                    <span class='substat'>Value</span> {{ value }}%<br />
                    <span class='substat'>Top</span>
                        {% if not rank.top %}
                            <span style='color: #00aa00'>Best</span><br />
                        {% else %}
                            {{ rank.top }}%<br />
                        {% endif %}
                    <span class='substat'>Average</span>
                        {% if rank.avg > 0.00 %}
                            <span style='color: #00aa00'>+{{ rank.avg }}%</span><br />
                        {% elif rank.avg > 0.00 %}
                            <span style='color: #ff0000'>-{{ rank.avg }}%</span><br />
                        {% else %}
                            {{ rank.avg }}%
                        {% endif %}
                {% else %}
                    <span class='substat'>Value</span> {{ value}}{% if percentage %}%{% endif %}<br />
                    <span class='substat'>Top</span>
                        {% if not rank.top %}
                            <span style='color: #00aa00'>Best</span><br />
                        {% else %}
                            {{ rank.top }}%<br />
                        {% endif %}
                    <span class='substat'>Average</span>
                        {% if rank.avg > 0.00 %}
                            <span style='color: #00aa00'>+{{ rank.avg }}{% if percentage %}%{% endif %}</span><br />
                        {% elif rank.avg < 0.00 %}
                            <span style='color: #ff0000'>{{ rank.avg }}{% if percentage %}%{% endif %}</span><br />
                        {% else %}
                            {{ rank.avg }}{% if percentage %}%{% endif %}
                        {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}