{% extends "website/base.html" %}
{% load add_str %}
{% load add_reverse_str %}
{% load to_list %}

{% block content_title %}
	{{ monster }} <br />
	IMPORTANT: Add to ranking things like #x in Average Efficiency in category "The most efficient Attack-Type monster" or "The most efficient Natural 5 Stars monster"
{% endblock %}

{% block table %}
	{% if monster %}
		{% include "website/monsters/monster_table.html" with monsters=monster|to_list text="Monster's Stats" collapse_id="monster-"|add_str:monster.id collapsed="show"%}
		<h2 class="title">
			Monster's Cards
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#substat-row" aria-expanded="true" aria-controls="#substat-row"> 
				Show/Hide 
			</button>
		</h2>
		<div class="row show" id="substat-row">
			{% include "website/monsters/monster_card.html" with header="Average Efficiency" rank=ranks.avg_eff value=monster.avg_eff|add_str:"%" %}
			{% include "website/monsters/monster_card.html" with header="HP" rank=ranks.hp value=monster.hp %}
			{% include "website/monsters/monster_card.html" with header="Attack" rank=ranks.attack value=monster.attack %}
			{% include "website/monsters/monster_card.html" with header="Defense" rank=ranks.defense value=monster.defense %}
			{% include "website/monsters/monster_card.html" with header="Speed" rank=ranks.speed value=monster.speed %}
			{% include "website/monsters/monster_card.html" with header="Critical Rate" rank=ranks.crit_rate value=monster.crit_rate|add_str:"%" %}
			{% include "website/monsters/monster_card.html" with header="Critical Damage" rank=ranks.crit_dmg value=monster.crit_dmg|add_str:"%" %}
			{% include "website/monsters/monster_card.html" with header="Resistance" rank=ranks.res value=monster.res|add_str:"%" %}
			{% include "website/monsters/monster_card.html" with header="Accuracy" rank=ranks.acc value=monster.acc|add_str:"%" %}
		</div>

		{% include "website/runes/rune_table.html" with runes=monster.runes.all text=monster.base_monster|add_str:"'s Runes" collapse_id="monster-"|add_str:monster.id|add_str:"-runes" collapsed="show"%}
		
		{% if rta.build %}
			<h2 class="title">
				Monster's RTA Cards
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#substat-row-rta" aria-expanded="true" aria-controls="#substat-row-rta"> 
					Show/Hide 
				</button>
			</h2>
			<div class="row show" id="substat-row-rta">
				{% include "website/monsters/monster_card.html" with header="Average Efficiency" rank=ranks.rta_eff value=rta.rta_eff|add_str:"%" %}
			</div>

			{% include "website/runes/rune_table.html" with runes=rta.build text=monster.base_monster|add_str:"'s RTA Runes" collapse_id="monster-"|add_str:monster.id|add_str:"-runes-rta" collapsed="show"%}
		{% endif %}
	
		There should be some other Lushen's or decks, don't know yet. Probably first part is better, with some redirect to Decks w/ specific unit (2 buttons: 1 -> base monster, 2 -> actual monster).

	{% else %}
		<p>There will be 404 Error or something because no monster like this.</p>
	{% endif %}
{% endblock %}