{% extends "website/base.html" %}
{% load add_str %}

{% block content_title %}
    Runes ( average efficiency: {{ avg_eff }}% )
{% endblock %}

{% block content %} 
<div class='chart'>
    <canvas id="chart-all-runes"</canvas>
</div>
    <script>
        var ctx = document.getElementById('chart-all-runes').getContext('2d');
        let avgEffAboveRunes = {{ avg_eff_above_runes|safe }};
        let avgEffBelowRunes = {{ avg_eff_below_runes|safe }};
        var chartAllRunes = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Above Average ({{ avg_eff_above_quantity }})',
                    data: avgEffAboveRunes,
                    backgroundColor: 'rgba(255, 0, 132, 0.2)',
                    borderColor: ['rgba(255, 0, 132, 1)'],
                    borderWidth: 1,
                },
                {
                    label: 'Below Average ({{ avg_eff_below_quantity }})',
                    data: avgEffBelowRunes,
                    backgroundColor: 'rgba(0, 0, 132, 0.2)',
                    borderColor: ['rgba(0, 0, 132, 1)'],
                    borderWidth: 1,
                }]
            },
            options: {
                onClick: handleClick,
                maintainAspectRatio: false,
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                            if (label) {
                                label += ': ';
                            }
                            label += Math.round(tooltipItem.yLabel * 100) / 100;
                            label += '% efficiency'
                            return label;
                        }
                    }
                }
            }
        });
        function handleClick(evt) {   
            var activeElement = chartAllRunes.getElementAtEvent(evt);
            if(activeElement.length > 0){
                var index = activeElement[0]._index;
                if(avgEffAboveRunes.length >= index && avgEffAboveRunes[index].y >= {{ avg_eff }}){
                    document.location.href = avgEffAboveRunes[index].x
                }
                else if(avgEffBelowRunes.length >= index && avgEffBelowRunes[index].y < {{ avg_eff }}){
                    document.location.href = avgEffBelowRunes[index].x
                }
            }
                
        };
    </script>

<div class='chart'>
    <canvas id="chart-normal-distribution"</canvas>
</div>
<script>
        var ctx = document.getElementById('chart-normal-distribution').getContext('2d');
        var chartNormalDistribution = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ means }},
                datasets: [{
                    label: "Quantity",
                    type: "bar",
                    backgroundColor: "rgba(25,192,20,0.3)",
                    data: {{ distribution }},
                }]
            },
            options: {
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Rune Efficiency Normal Distribution'
                },
                scales: {
                    xAxes: [{
                        categoryPercentage: 1.0,
                        barPercentage: 1.0
                    }]
                },
                legend: { display: false }
            }
        });
    </script>
{% endblock %}

{% block table %}
    {% with "Top "|add_str:best_amount|add_str:" runes" as text %}
        {% include "website/runes/rune_table.html" with runes=best_runes collapse_id="top_runes" text=text collapsed="collapse" %}
    {% endwith %}

    
    {% with "Fastest "|add_str:fastest_amount|add_str:" runes" as text %}
        {% include "website/runes/rune_table.html" with runes=fastest_runes collapse_id="fastest_runes" text=text collapsed="collapse" %}
    {% endwith %}
{% endblock %}


