{% extends "website/base.html" %}
{% load add_str %}
{% block content_title%}
    Runes
{% endblock %}

{% block content %} 
    Here will be some graph
{% endblock %}

{% block table %}
    {% with "Top "|add_str:amount|add_str:" runes" as text %}
        {% include "website/runes/rune_table.html" with runes=runes collapse_id="top_runes" text=text collapsed="collapse" %}
    {% endwith %}

    
    {% with "Fastest "|add_str:fastest_amount|add_str:" runes" as text %}
        {% include "website/runes/rune_table.html" with runes=fastest_runes collapse_id="fastest_runes" text=text collapsed="collapse" %}
    {% endwith %}
{% endblock %}


