{% load static %}
{% load other %}
{% load runes %}
{% load monsters %}

<div class='card-custom bordered standard' onClick="moveTo('{% url 'rune_by_id' arg_id=rune.id %}')" style="cursor: pointer;">
    <div class='card-custom-header'>
        +{{ rune.upgrade_curr }} {{ rune.get_quality_display }} {{ rune.rune_set.name }} Rune
    </div>
    <div class='card-custom-body standard'>
        <div class='rune-prim'>
            <div class="{{"rune-background "|add_str:rune.get_quality_display|ancient_to_normal }} {{ "rune-border-"|add_str:rune.get_quality_original_display|ancient_to_normal }}" >
                <div class="{{ "rune-slot"|add_str:rune.slot }}">
                    <div class="rune">
                        <img src="{% static 'website/images/runes/'|add_str:rune.rune_set|lower|add_str:".png" %}" />
                    </div>
                </div>
            </div>
            <div class='rune-stats'>
                {{ rune.get_primary_display|get_rune_stat_row:rune.primary_value }} <br />
                {{ rune.get_innate_display|get_rune_stat_row:rune.innate_value }}
            </div>
        </div>

        <div class='rune-substats'>
            {% if rune.sub_hp_flat %}<span class='substat'>HP {% if rune.sub_hp_flat.1 > 0 %}+{{ rune.sub_hp_flat|rune_grinded_val }}</span>{% else %}</span>+{{ rune.sub_hp_flat|rune_grinded_val }}{% endif %}<br />{% endif %}
            {% if rune.sub_hp %}<span class='substat'>HP {% if rune.sub_hp.1 > 0 %}+{{ rune.sub_hp|rune_grinded_val }}%</span>{% else %}</span>+{{ rune.sub_hp|rune_grinded_val }}%{% endif %}<br />{% endif %}
            {% if rune.sub_atk_flat %}<span class='substat'>ATK {% if rune.sub_atk_flat.1 > 0 %}+{{ rune.sub_atk_flat|rune_grinded_val }}</span>{% else %}</span>+{{ rune.sub_atk_flat|rune_grinded_val }}{% endif %}<br />{% endif %}
            {% if rune.sub_atk %}<span class='substat'>ATK {% if rune.sub_atk.1 > 0 %}+{{ rune.sub_atk|rune_grinded_val }}%</span>{% else %}</span>+{{ rune.sub_atk|rune_grinded_val }}%{% endif %}<br />{% endif %}
            {% if rune.sub_def_flat %}<span class='substat'>DEF {% if rune.sub_def_flat.1 > 0 %}+{{ rune.sub_def_flat|rune_grinded_val }}</span>{% else %}</span>+{{ rune.sub_def_flat|rune_grinded_val }}%{% endif %}<br />{% endif %}
            {% if rune.sub_def %}<span class='substat'>DEF {% if rune.sub_def.1 > 0 %}+{{ rune.sub_def|rune_grinded_val }}%</span>{% else %}</span>+{{ rune.sub_def|rune_grinded_val }}%{% endif %}<br />{% endif %}
            {% if rune.sub_speed %}<span class='substat'>SPD {% if rune.sub_speed.1 > 0 %}+{{ rune.sub_speed|rune_grinded_val }}</span>{% else %}</span>+{{ rune.sub_speed|rune_grinded_val }}{% endif %}<br />{% endif %}
            {% if rune.sub_crit_rate %}<span class='substat'>CRI Rate {% if rune.sub_crit_rate.1 > 0 %}+{{ rune.sub_crit_rate|rune_grinded_val }}%</span>{% else %}</span>+{{ rune.sub_crit_rate|rune_grinded_val }}%{% endif %}<br />{% endif %}
            {% if rune.sub_crit_dmg %}<span class='substat'>CRI Dmg {% if rune.sub_crit_dmg.1 > 0 %}+{{ rune.sub_crit_dmg|rune_grinded_val }}%</span>{% else %}</span>+{{ rune.sub_crit_dmg|rune_grinded_val }}%{% endif %}<br />{% endif %}
            {% if rune.sub_acc %}<span class='substat'>Accuracy {% if rune.sub_acc.1 > 0 %}+{{ rune.sub_acc|rune_grinded_val }}%</span>{% else %}</span>+{{ rune.sub_acc|rune_grinded_val }}%{% endif %}<br />{% endif %}
            {% if rune.sub_res %}<span class='substat'>Resistance {% if rune.sub_res.1 > 0 %}+{{ rune.sub_res|rune_grinded_val }}%</span>{% else %}</span>+{{ rune.sub_res|rune_grinded_val }}%{% endif %}<br />{% endif %}
        </div>

        <div class='rune-info'>
            <span class='substat'>Efficiency</span> {{ rune.efficiency }}%<br />
            <span class='substat'>Efficiency Max</span> {{ rune.efficiency_max }}%<br />
            <span class='substat'>Locked</span> {% if rune.locked %}<span style="color: #00aa00">Yes</span>{% else %}<span style="color: #ff0000">No</span>{% endif %}<br />
            <span class='substat'>Equipped</span>
                {% if rune.equipped %}
                    {% with rune|get_monster as mon %}
                        {% if mon %}
                            <a href="{% url 'monster_by_id' arg_id=mon.id %}" class="table-monster-href">
                                <img src="{% static 'website/images/monsters/'|get_monster_avatar:mon %}" class="table-monster-avatar-min {% if not deep %}tip{% endif %}" {% if not deep %}data-tip="mon-{{ mon.id }}"{% endif %}/>
                            </a>
                            {% if not deep %}
                                <div id="mon-{{ mon.id }}" class="tip-content" style='display: none;'>
                                    {% include "website/monsters/monster_card_compressed.html" with monster=mon deep=True %}
                                </div>
                            {% endif %}
                        {% else %}
                            <img src="{% static 'website/images/monsters/monster_unknown.png' %}" class="table-monster-avatar-min"/>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    <span style="color: #ff0000">No</span>
                {% endif %}
                <br />
            <span class='substat'>Equipped in RTA</span>
                {% with rune|get_monster:True as mon %}
                    {% if mon %}
                        <a href="{% url 'monster_by_id' arg_id=mon.id %}" class="table-monster-href">
                            <img src="{% static 'website/images/monsters/'|get_monster_avatar:mon %}" class="table-monster-avatar-min {% if not deep %}tip{% endif %}" {% if not deep %}data-tip="mon-{{ mon.id }}"{% endif %} />
                        </a>
                        {% if not deep %}
                            <div id="mon-{{ mon.id }}" class="tip-content" style='display: none;'>
                                {% include "website/monsters/monster_card_compressed.html" with monster=mon deep=True %}
                            </div>
                        {% endif %}
                    {% else %}
                        <span style="color: #ff0000">No</span>
                    {% endif %}
                {% endwith %}
                <br />
        </div>
    </div>
</div>