{% extends "website/base.html" %}
{% load add_str %}

{% block content_title %}
    Runes
{% endblock %}

{% block jquery %}
    <script>
        function fetchData(){
            $.ajax({
                url: "{% url 'runes_ajax' task_id=task_id %}",
                type: "GET",
                success: function(response) {
                    seconds += 1;
                    $('#secs').text(seconds);
                    if(response){
                        $('#content-ajax-container').html(response);
                        clearInterval(fetchDataInterval);
                    }
                },
                error: function(xhr) {
                    $('#content-ajax-container').html("<h2>There was an error while connecting. Please, refresh the page.</h2>");
                    clearInterval(fetchDataInterval);
                }
            });
        }
        var seconds = 0;
        var fetchDataInterval = setInterval(fetchData, 1000);
    </script>
{% endblock %}