{% extends "website/base.html" %}
{% load add_str %}

{% block content_title %}
    {{ set }} Runes ( average efficiency: {{ avg_eff }}% )
{% endblock %}

{% block content %} 

<!-- All Runes Chart -->
{% include "website/runes/charts/rune_chart_efficiency.html" with above=avg_eff_above_runes above_quantity=avg_eff_above_quantity below=avg_eff_below_runes below_quantity=avg_eff_below_quantity %}

<!-- Normal Distribution Chart -->
{% include "website/runes/charts/rune_chart_normal_distribution.html" with means=all_means distribution=all_distribution color=all_color %}

<div class='chart'>
	<!-- Runes Grouped By Quality Chart -->
    {% include "website/runes/charts/rune_chart_group_by_quality.html" with name=quality_name color=quality_color count=quality_count class='chart-2'  %}

    <!-- Runes Grouped By Slot Chart -->
    {% include "website/runes/charts/rune_chart_group_by_slot.html" with number=slot_number color=slot_color count=slot_count class='chart-2 right'  %}
</div>
{% endblock %}

{% block table %}
    {% with "Top "|add_str:best_amount|add_str:" runes" as text %}
        {% include "website/runes/rune_table.html" with runes=best_runes collapse_id="top_runes" text=text collapsed="collapse" %}
    {% endwith %}
    
    {% with "Fastest "|add_str:fastest_amount|add_str:" runes" as text %}
        {% include "website/runes/rune_table.html" with runes=fastest_runes collapse_id="fastest_runes" text=text collapsed="collapse" %}
    {% endwith %}
{% endblock %}