{% load static %}
{% load add_str %}
{% load add_reverse_str %}
{% load rune_grinded_val %}
{% load get_monster %}
{% load get_monster_avatar %}

<div class="title-container">
    <h2 class="title">
        {{ text }}
    </h2>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ collapse_id }}" aria-expanded="false" aria-controls="#{{ collapse_id }}"> 
        Show/Hide 
    </button>
</div>
<div class="table-responsive {{ collapsed }}" id="{{ collapse_id }}">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Quality</th>
                <th scope="col">Slot</th>
                <th scope="col">Stars</th>
                <th scope="col">Set</th>
                <th scope="col">Level</th>
                <th scope="col">Primary</th>
                <th scope="col">Value</th>
                <th scope="col">Innate</th>
                <th scope="col">Value</th>
                <th scope="col">HP+</th>
                <th scope="col">HP%</th>
                <th scope="col">ATK+</th>
                <th scope="col">ATK%</th>
                <th scope="col">DEF+</th>
                <th scope="col">DEF%</th>
                <th scope="col">SPD</th>
                <th scope="col">CRATE</th>
                <th scope="col">CDMG</th>
                <th scope="col">RES</th>
                <th scope="col">ACC</th>
                <th scope="col">Eff.</th>
                <th scope="col">Eff. Max</th>
                <th scope="col">Equipped</th>
                <th scope="col">Locked</th>
            </tr>
        </thead>
        <tbody>
            {% for rune in runes %}
                <tr class="{{ "orig-quality-"|add_str:rune.get_quality_original_display }}" onclick="goToRune('{% url "rune_by_id" arg_id=rune.id %}')" style="cursor: pointer;">
                    <td>{{ rune.get_quality_display }}</td>
                    <td>{{ rune.slot }}</td>
                    <td>{{ rune.stars }}*</td>
                    <td>{{ rune.rune_set }}</td>
                    <td>{{ rune.upgrade_curr }}</td>
                    <td>{{ rune.get_primary_display }}</td>
                    <td>{{ rune.primary_value }}</td>
                    <td>{{ rune.get_innate_display }}</td>
                    <td>{{ rune.innate_value }}</td>
                    <td>{{ rune.sub_hp_flat|rune_grinded_val }}<sup>{{ rune.sub_hp_flat.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_hp|rune_grinded_val }}<sup>{{ rune.sub_hp.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_atk_flat|rune_grinded_val }}<sup>{{ rune.sub_atk_flat.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_atk|rune_grinded_val }}<sup>{{ rune.sub_atk.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_def_flat|rune_grinded_val }}<sup>{{ rune.sub_def_flat.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_def|rune_grinded_val }}<sup>{{ rune.sub_def.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_speed|rune_grinded_val }}<sup>{{ rune.sub_speed.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_crit_rate|rune_grinded_val }}<sup>{{ rune.sub_crit_rate.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_crit_dmg|rune_grinded_val }}<sup>{{ rune.sub_crit_dmg.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_res|rune_grinded_val }}<sup>{{ rune.sub_res.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.sub_acc|rune_grinded_val }}<sup>{{ rune.sub_acc.1|default:""|add_reverse_str:"+" }}</sup></td>
                    <td>{{ rune.efficiency|add_str:"%" }}</td>
                    <td>{{ rune.efficiency_max|add_str:"%" }}</td>
                    <td> {% if rune.equipped %}
                            {% with rune|get_monster as mon %}
                                <a href="{% url 'monster_by_id' arg_id=mon.id %}" class="table-monster-href">
                                    <img src="{% static 'website/images/monsters/'|get_monster_avatar:mon %}" class="table-monster-avatar-min"/>
                                </a>
                            {% endwith %}
                        {% else %}
                            <span data-feather="slash" style="color: red;"></span>
                        {% endif %}
                    </td>
                    <td> {% if rune.locked %}
                        <span data-feather="check" style="color: green;"></span>
                        {% else %}
                        <span data-feather="slash" style="color: red;"></span>
                        {% endif %}
                    </td>                    
                </tr>
            {% endfor %}
            <script>
                feather.replace()

                function goToRune(href){
                    document.location.href = document.location.origin + href;
                }
            </script>
        </tbody>
    </table>
</div>