{% load other %}
{% load runes %}


<div class='content'>
    <div class='content-menu'>
        <button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Summary</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Monsters Equipped</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='view-3-button'>Similar</button>
    </div>
	<div id='view-1'>
		<div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                Each place is determined by using only runes of the same type (Slot: {{ rune.slot }}, Set: {{ rune.rune_set.name }}, Primary: {{ rune.get_primary_display }})
            </div>
        </div>

		<div class='rune-content'>
			<div class='rune-card-compressed'>
				{% include 'website/runes/rune_card_compressed.html' with rune=rune %}
			</div>

			<div class='row ranks'>
				{% include "website/runes/rune_card.html" with header='Efficiency [%]' rank=ranks.efficiency value=rune.efficiency eff=True %}
				{% include "website/runes/rune_card.html" with header='HP [+]' rank=ranks.sub_hp_flat value=rune.sub_hp_flat %}
				{% include "website/runes/rune_card.html" with header='HP [%]' rank=ranks.sub_hp value=rune.sub_hp percentage=True %}
				{% include "website/runes/rune_card.html" with header='Attack [+]' rank=ranks.sub_atk_flat value=rune.sub_atk_flat %}
				{% include "website/runes/rune_card.html" with header='Attack [%]' rank=ranks.sub_atk value=rune.sub_atk percentage=True %}
				{% include "website/runes/rune_card.html" with header='Defense [+]' rank=ranks.sub_def_flat value=rune.sub_def_flat %}
				{% include "website/runes/rune_card.html" with header='Defense [%]' rank=ranks.sub_def value=rune.sub_def percentage=True %}
				{% include "website/runes/rune_card.html" with header='Speed [+]' rank=ranks.sub_speed value=rune.sub_speed percentage=True %}
				{% include "website/runes/rune_card.html" with header='Resistance [%]' rank=ranks.sub_res value=rune.sub_res percentage=True %}
				{% include "website/runes/rune_card.html" with header='Accuracy [%]' rank=ranks.sub_acc value=rune.sub_acc percentage=True %}
				{% include "website/runes/rune_card.html" with header='Critical Rate [%]' rank=ranks.sub_crit_rate value=rune.sub_crit_rate percentage=True %}
				{% include "website/runes/rune_card.html" with header='Critical Damage [%]' rank=ranks.sub_crit_dmg value=rune.sub_crit_dmg percentage=True %}
			</div>
		</div>
	</div>
    <div id='view-2' class='row justify-content-md-center' style='display: none;'>
		{% if rune.equipped_runes %}
			{% for monster in rune.equipped_runes.all %}
				<div class='col-12 col-md-5'>
					{% include "website/monsters/monster_card_compressed.html" with monster=monster rta_runes=None deep=False %}
				</div>
			{% endfor %}
		{% endif %}
		{% if rta_monster %}
			<div class='col-12 col-md-5'>
				{% include "website/monsters/monster_card_compressed.html" with monster=rta_monster rta_runes=rta_runes deep=False %}
			</div>
		{% endif %}
    </div>
    <div id='view-3' style='display: none;'>
        <div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                This page shows up to 50 randomly chosen runes (Slot: {{ rune.slot }}, Set: {{ rune.rune_set.name }}, Primary: {{ rune.get_primary_display }}). Every card is clickable and will redirect to other rune.
            </div>
        </div>
		
		<div class='row'>
			{% for similar in similar_runes %}
				<div class='col-12 col-md-3'>
					{% include 'website/runes/rune_card_compressed.html' with rune=similar deep=False %}
				</div>
			{% endfor %}
		</div>
    </div>    
</div>

<script>
	function ajaxTooltip(el_id, el_type, tooltip_id, el){
		var prefix = '#' + el_type + '-'
		if(!$(prefix + tooltip_id).html().includes('Loading')){
			return;
		}
		var url_mask = "{% url 'object_card' obj_type='a' obj_id=1 %}".replace('a', el_type.toString()).replace('1', el_id.toString());
		$.ajax({
			url: url_mask,
			type: "GET",
			success: function(response) {
				$(prefix + tooltip_id).html(response)
				$(el).attr("data-original-title", response).tooltip('show');
			},
			error: function(xhr) {
				$('#content-ajax-container').html("{% include 'website/error.html' with task_id='' %}");
			}
		});
	}
	
    $(document).ready(function () {
        $('.tip').each(function () {
            $(this).tooltip(
            {
                html: true,
				placement: 'top',
                title: $('#' + $(this).data('tip')).html()
            });
        });
		$(this).data('bs.tooltip').config.placement = 'top';// For dynamic position
  		$(this).data('bs.tooltip').config.boundary= 'top'; // Used for tooltip boundary range
    });
</script>