{% extends "website/base.html" %}
{% load add_str %}
{% load add_reverse_str %}
{% load to_list %}
{% load rune_grinded_val %}

{% block content_title %}
	{{ rune }}
{% endblock %}

{% block jquery %}
    <script>
        function fetchData(){
            $.ajax({
                url: "{% url 'rune_by_id_ajax' task_id=task_id arg_id=arg_id %}",
                type: "GET",
                success: function(response) {
                    seconds += 1;
                    $('#secs').text(seconds);
                    if(response){
                        $('#content-ajax-container').html(response);
                        clearInterval(fetchDataInterval);
                    }
                    else if (seconds == 60){
                        $('#content-ajax-container').html("<h2>Connection timed out.</h2>");
                        clearInterval(fetchDataInterval);
                    }
                },
                error: function(xhr) {
                    $('#content-ajax-container').html("<h2>There was an error while connecting. Please, refresh the page.</h2>");
                    clearInterval(fetchDataInterval);
                }
            });
        }
        var seconds = 0;
        var fetchDataInterval = setInterval(fetchData, 1000);
    </script>
{% endblock %}