{% extends "website/base.html" %}
{% load add_str %}
{% load add_reverse_str %}
{% load to_list %}
{% load rune_grinded_val %}

{% block content_title %}
	{{ rune }}
{% endblock %}

{% block table %}
	{% if rune %}
		{% include "website/runes/rune_table.html" with runes=rune|to_list text="Rune (ID: "|add_str:rune.id|add_str:")" collapse_id="rune-"|add_str:rune.id collapsed="show"%}
		<h2 class="title">
			Rune's Cards
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#substat-row" aria-expanded="true" aria-controls="#substat-row"> 
				Show/Hide 
			</button>
		</h2>
		<div class="row show" id="substat-row">
			{% include "website/runes/rune_card.html" with header='Efficiency' rank=ranks.normal.efficiency value=rune.efficiency|add_str:'%' %}
			{% include "website/runes/rune_card.html" with header='Flat HP' rank=ranks.normal.hp_flat value=rune.sub_hp_flat|rune_grinded_val:True|add_reverse_str:'+' %}
			{% include "website/runes/rune_card.html" with header='HP%' rank=ranks.normal.hp value=rune.sub_hp|rune_grinded_val:True|add_str:'%' %}
			{% include "website/runes/rune_card.html" with header='Flat ATK' rank=ranks.normal.atk_flat value=rune.sub_atk_flat|rune_grinded_val:True|add_reverse_str:'+' %}
			{% include "website/runes/rune_card.html" with header='ATK%' rank=ranks.normal.atk value=rune.sub_atk|rune_grinded_val:True|add_str:'%' %}
			{% include "website/runes/rune_card.html" with header='Flat DEF' rank=ranks.normal.def_flat value=rune.sub_def_flat|rune_grinded_val:True|add_reverse_str:'+' %}
			{% include "website/runes/rune_card.html" with header='DEF%' rank=ranks.normal.def value=rune.sub_def|rune_grinded_val:True|add_str:'%' %}
			{% include "website/runes/rune_card.html" with header='Speed' rank=ranks.normal.speed value=rune.sub_speed|rune_grinded_val:True %}
			{% include "website/runes/rune_card.html" with header='Critical Rate' rank=ranks.normal.crit_rate value=rune.sub_crit_rate|rune_grinded_val:True|add_str:'%' %}
			{% include "website/runes/rune_card.html" with header='Critical Damage' rank=ranks.normal.crit_dmg value=rune.sub_crit_dmg|rune_grinded_val:True|add_str:'%' %}
			{% include "website/runes/rune_card.html" with header='Resistance' rank=ranks.normal.res value=rune.sub_res|rune_grinded_val:True|add_str:'%' %}
			{% include "website/runes/rune_card.html" with header='Accuracy' rank=ranks.normal.acc value=rune.sub_acc|rune_grinded_val:True|add_str:'%' %}
		</div>
		
		<h2 class="title">
			Rune's Categorized Cards
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#substat-categorized-row" aria-expanded="true" aria-controls="#substat-categorized-row"> 
				Show/Hide 
			</button>
		</h2>
		<div class="row show" id="substat-categorized-row">
			{% include "website/runes/rune_card.html" with header='Efficiency' rank=ranks.categorized.efficiency_slot value=rune.efficiency|add_str:'%' categorized=True category="slot "|add_str:rune.slot %}
			{% include "website/runes/rune_card.html" with header='Efficiency' rank=ranks.categorized.efficiency_set value=rune.efficiency|add_str:'%' categorized=True category="set "|add_str:rune.rune_set %}
			{% include "website/runes/rune_card.html" with header='Efficiency' rank=ranks.categorized.efficiency_both value=rune.efficiency|add_str:'%' categorized=True category="slot "|add_str:rune.slot|add_str:" and set "|add_str:rune.rune_set %}
			{% include "website/runes/rune_card.html" with header='Speed' rank=ranks.categorized.speed_slot value=rune.sub_speed|rune_grinded_val:True categorized=True category="slot "|add_str:rune.slot %}
			{% include "website/runes/rune_card.html" with header='Speed' rank=ranks.categorized.speed_set value=rune.sub_speed|rune_grinded_val:True categorized=True category="set "|add_str:rune.rune_set %}
			{% include "website/runes/rune_card.html" with header='Speed' rank=ranks.categorized.speed_both value=rune.sub_speed|rune_grinded_val:True categorized=True category="slot "|add_str:rune.slot|add_str:" and set "|add_str:rune.rune_set %}
		</div>

		{% if monster or rta_monster %}
			<h2 class="title">
				Monsters
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#monster-row" aria-expanded="true" aria-controls="#monster-row"> 
					Show/Hide 
				</button>
			</h2>
			<div class="row show" id="monster-row">
				{% if monster %}
					{% include "website/monsters/monster_card_compressed.html" with name=monster|add_str:" (Normal Build)" monster=monster %}
				{% endif %}
				{% if rta_monster %}
					{% include "website/monsters/monster_card_compressed.html" with name=rta_monster|add_str:" (RTA Build)" monster=rta_monster %}
				{% endif %}
			</div>
		{% endif %}
		{% include "website/runes/rune_table.html" with runes=similar_runes text="Similar Runes" collapse_id="rune-"|add_str:rune.id|add_str:"-similar" collapsed="show"%}
	{% else %}
		<p>There will be 404 Error or something because no rune like this.</p>
	{% endif %}
{% endblock %}