{% extends "website/base.html" %}

{% block content_title %}
	+{{ artifact.level }} {{ artifact.get_quality_display }}
        {% if artifact.rtype == 1 %} {{ artifact.get_attribute_display }}{% else %}{{ artifact.get_archetype_display }}{% endif %} Artifact (eff: {{ artifact.efficiency }})
{% endblock %}

{% block jquery %}
    <script>
        function fetchData(){
            $.ajax({
                url: "{% url 'artifact_by_id_ajax' task_id=task_id arg_id=arg_id %}",
                type: "GET",
                success: function(response) {
                    seconds += .5;
                    $('#secs').text(seconds);
                    if(response){
                        $('#content-ajax-container').html(response);
                    }
                    else if (seconds == 60){
                        $('#content-ajax-container').html("<h2>Connection timed out.</h2>");
                    }
                    else{
                        setTimeout(fetchData, 500);
                    }
                },
                error: function(xhr) {
                    $('#content-ajax-container').html("<h2>There was an error while connecting. Please, refresh the page.<br>If error still exists after page refresh, contact <a href='http://reddit.com/u/quatzo'>administrator</a> and give him this: <br><center>{{ task_id }}</center></h2>");
                }
            });
        }
        var seconds = 0;
        fetchData();
    </script>
{% endblock %}