{% load other %}
{% load runes %}
{% if is_filter %}<h3>Filters: {{ filters }}</h3>{% endif %} 

<div class='content'>
    <div class='content-menu'>
        <button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Filters</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Charts</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(2)" id='view-3-button'>TOP</button>
    </div>
    <form method="GET" action="{% url 'artifacts' %}">
        <div id='view-1'>
            <div class='row'>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Quality</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='quality'>
                                <option value='0'></option>
                                {% for quality in filter_options.qualities %}
                                    <option value='{{ quality }}' {% if 'quality' in request.keys and request.quality.0 == quality %}selected{% endif %}>{{ quality }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Original Quality</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='quality_original'>
                                <option value='0'></option>
                                {% for quality in filter_options.qualities %}
                                    <option value='{{ quality }}' {% if 'quality_original' in request.keys and request.quality_original.0 == quality %}selected{% endif %}>{{ quality }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Main Stat</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='primary'>
                                <option value='0'></option>
                                {% for main_stat in filter_options.main_stats %}
                                    <option value='{{ main_stat|symbol_to_percentage_plus_text }}' {% if 'primary' in request.keys and request.primary.0|percentage_plus_text_to_symbol == main_stat %}selected{% endif %}>{{ main_stat }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Attribute</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='attribute'>
                                <option value='0'></option>
                                {% for attribute in filter_options.attributes %}
                                    <option value='{{ attribute }}' {% if 'attribute' in request.keys and request.attribute.0 == attribute %}selected{% endif %}>{{ attribute }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Element</h5>
                        </div>
                        <div class='card-custom-body'>
                            <select name='archetype'>
                                <option value='0'></option>
                                {% for archetype in filter_options.archetypes %}
                                    <option value='{{ archetype }}' {% if 'archetype' in request.keys and request.archetype.0 == archetype %}selected{% endif %}>{{ archetype }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 col-lg-4'>
                    <div class='card-custom short'>
                        <div class='card-custom-header'>
                            <h5>Efficiency (0 - Don't Filter)</h5>
                        </div>
                        <div class='card-custom-body number'>
                            <input type='number' name='eff_min' min="0" max="150" value="{% if 'eff_min' in request.keys %}{{ request.eff_min.0 }}{% else %}0{% endif %}"/>
                            -
                            <input type='number' name='eff_max' min="0" max="150" value="{% if 'eff_max' in request.keys %}{{ request.eff_max.0 }}{% else %}0{% endif %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <button class='btn btn-secondary btn-compare active' type="submit" style='width: 100%;'>Filter</button>
        </div>
    </form>
    <div id='view-2' class='row' style='display: none;'>
        <!-- Normal Distribution Chart -->
        {% include "website/artifacts/charts/artifact_chart_distribution.html" with means=all_means distribution=all_distribution color=all_color %}

        <div class='chart'>
            <!-- Artifacts Grouped By Quality Chart -->
            {% include "website/artifacts/charts/artifact_chart_group_by_quality.html" with name=quality_name color=quality_color count=quality_count class='chart-2' %}
            
            <!-- Artifacts Grouped By Original Quality Chart -->
            {% include "website/artifacts/charts/artifact_chart_group_by_quality_original.html" with name=quality_original_name color=quality_original_color count=quality_original_count class='chart-2 right' %}    
        </div>

        <div class='chart'>
            <!-- Artifacts Grouped By Type Chart -->
            {% include "website/artifacts/charts/artifact_chart_group_by_rtype.html" with name=rtype_name color=rtype_color count=rtype_count class='chart-2' %}

            <!-- Artifacts Grouped By Primary Chart -->
            {% include "website/artifacts/charts/artifact_chart_group_by_primary.html" with name=primary_name color=primary_color count=primary_count class='chart-2 right' %}
        </div>

        <div class='chart'>
            <!-- Artifacts Grouped By Attribute Chart -->
            {% include "website/artifacts/charts/artifact_chart_group_by_attribute.html" with name=attribute_name color=attribute_color count=attribute_count class='chart-2' %}

            <!-- Artifacts Grouped By Archetype Chart -->
            {% include "website/artifacts/charts/artifact_chart_group_by_archetype.html" with name=archetype_name color=archetype_color count=archetype_count class='chart-2 right' %}
        </div>
    </div>
    <div id='view-3' style='display: none;'>
        <div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                Every Header, Card & Monster Avatar is clickable and will redirect you to other page (i.e. Specific Artifact Page) or hide/show content here.   
            </div>
        </div>

        <div class='card-custom' style='min-height: 100px;'>
            <div class="card-custom-header">
                <h5 data-toggle="collapse" data-target="#best_artifacts" aria-expanded="true" aria-controls="best_artifacts">Top 100 Artifacts (efficiency-wise)</h5>
            </div>
            <div id='best_artifacts' class='card-custom-body collapse show'>
                <div class='row'>
                    {% for artifact in best_artifacts %}
                        <div class='col-12 col-md-3'>
                            {% include 'website/artifacts/artifact_card_compressed.html' with artifact=artifact deep=False %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.tip').each(function () {
            $(this).tooltip(
            {
                html: true,
				placement: 'top',
                title: $('#' + $(this).data('tip')).html()
            });
        });
		$(this).data('bs.tooltip').config.placement = 'top';// For dynamic position
  		$(this).data('bs.tooltip').config.boundary= 'top'; // Used for tooltip boundary range
    });
</script>