{% load static %}
{% load add_str %}
{% load parse_artifact_substats_to_table %}
{% load get_monster %}
{% load get_monster_avatar %}

<div class="title-container">
    <h2 class="title">
        {{ text }}
    </h2>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ collapse_id }}" aria-expanded="false" aria-controls="#{{ collapse_id }}"> 
        Show/Hide 
    </button>
</div>
<div class="table-responsive {{ collapsed }}" id="{{ collapse_id }}">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Quality</th>
                <th scope="col">Type</th>
                <th scope="col">Element</th>
                <th scope="col">Archetype</th>
                <th scope="col">Level</th>
                <th scope="col">Primary</th>
                <th scope="col">Value</th>
                <th scope="col">Substats</th>
                <th scope="col">Eff.</th>
                <th scope="col">Eff. Max</th>
                <th scope="col">Equipped</th>
            </tr>
        </thead>
        <tbody>
            {% for artifact in artifacts %}
                <tr class="{{ "orig-quality-"|add_str:artifact.get_quality_original_display }}" onclick="goToArtifact('{% url "rune_by_id" arg_id=artifact.id %}')" style="cursor: pointer;">
                    <td>{{ artifact.get_quality_display }}</td>
                    <td>{{ artifact.get_rtype_display }}</td>
                    <td>
                        {% if artifact.attribute %}
                            {{ artifact.get_attribute_display }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if artifact.archetype %}
                            {{ artifact.get_archetype_display }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ artifact.level }}</td>
                    <td>{{ artifact.get_primary_display }}</td>
                    <td>{{ artifact.primary_value }}</td>
                    <td>
                        {% for sub_text in artifact.substats|parse_artifact_substats_to_table:artifact.substats_values %}
                            {{ sub_text }}<br/>
                        {% endfor %}
                    </td>
                    <td>{{ artifact.efficiency|add_str:"%" }}</td>
                    <td>{{ artifact.efficiency_max|add_str:"%" }}</td>
                    <td> {% if artifact.equipped %}
                            {% with artifact|get_monster as mon %}
                                {% if mon %}
                                    <a href="{% url 'monster_by_id' arg_id=mon.id %}" class="table-monster-href">
                                        
                                        <img src="{% static 'website/images/monsters/'|get_monster_avatar:mon %}" class="table-monster-avatar{% if artifact.substats|length < 2 %}-min{% endif %}"/>
                                    </a>
                                {% else %}
                                    <img src="{% static 'website/images/monsters/monster_unknown.png' %}" class="table-monster-avatar{% if artifact.substats|length < 2 %}-min{% endif %}"/>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <span data-feather="slash" style="color: red;"></span>
                        {% endif %}
                    </td>                   
                </tr>
            {% endfor %}
            <script>
                feather.replace()

                function goToArtifact(href){
                    document.location.href = document.location.origin + href;
                }
            </script>
        </tbody>
    </table>
</div>