{% load other %}
{% load runes %}
{% load artifacts %}


<div class='content'>
    <div class='content-menu'>
        <button class="btn btn-secondary btn-compare active" type="button" onclick="changeView(0)" id='view-1-button'>Summary</button>
        <button class="btn btn-secondary btn-compare" type="button" onclick="changeView(1)" id='view-2-button'>Similar</button>
    </div>
	<div id='view-1' class='row justify-content-md-center'>
		<div class='col-12 col-md-4'>
			{% include 'website/artifacts/artifact_card_compressed.html' with artifact=artifact %}
		</div>
		{% if artifact.equipped_artifacts %}
			{% for monster in artifact.equipped_artifacts.all %}
				<div class='col-12 col-md-4'>
					{% include "website/monsters/monster_card_compressed.html" with monster=monster deep=False %}
				</div>
			{% endfor %}
		{% endif %}
        {% if artifact.equipped_artifacts_rta %}
			{% for monster in artifact.equipped_artifacts_rta.all %}
				<div class='col-12 col-md-4'>
					{% include "website/monsters/monster_card_compressed.html" with monster=monster deep=False %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
    <div id='view-2' style='display: none;'>
        <div class='card-custom disclaimer'>
            <div class='card-custom-header'>
                <h5>Disclaimer</h5>
            </div>
            <div class='card-custom-body'>
                This page shows up to 100 randomly chosen artifacts of the same type. Every card is clickable and will redirect to other artifact.
            </div>
        </div>
		
		<div class='row'>
			{% for similar in similar_artifacts %}
				<div class='col-12 col-md-3'>
					{% include 'website/artifacts/artifact_card_compressed.html' with artifact=similar deep=False %}
				</div>
			{% endfor %}
		</div>
    </div>    
</div>

<script>
    $(document).ready(function () {
        $('.tip').each(function () {
            $(this).tooltip(
            {
                html: true,
				placement: 'top',
                title: $('#' + $(this).data('tip')).html()
            });
        });
		$(this).data('bs.tooltip').config.placement = 'top';// For dynamic position
  		$(this).data('bs.tooltip').config.boundary= 'top'; // Used for tooltip boundary range
    });
</script>